node-red/flows.json
[{"id":"0a84fcef42ddc94e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"8ecde103e664eec0","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f482c16b.7b4d","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30"},{"id":"090665a04fa6c385","type":"mqtt-broker","name":"Homeassistant MQTT Broker","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ef067c6f.620e6","type":"server","name":"hass.io","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"62d7bb2f.196044","type":"server","name":"ESP Home","version":2,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":true,"heartbeatInterval":"10"},{"id":"d28c9492.f419c8","type":"server","name":"","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""},{"id":"2dde05e9153f7e26","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7724bf65801a42b3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5fde6ffd3a8708d4","type":"ui_group","name":"Standard","tab":"2dde05e9153f7e26","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cd4403b5.968d1","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"250eeee2.afada2","type":"mqtt-broker","name":"192.168.1.8","broker":"192.168.1.8","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c363ac69f6426299","type":"mqtt in","z":"0a84fcef42ddc94e","name":"","topic":"#","qos":"2","datatype":"auto","broker":"090665a04fa6c385","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":40,"wires":[["b394058093f84240"]]},{"id":"b394058093f84240","type":"debug","z":"0a84fcef42ddc94e","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":40,"wires":[]},{"id":"330aa2f.a6d1d5e","type":"api-call-service","z":"0a84fcef42ddc94e","name":"Snapshot My Camera","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_espcam1_camera","data":"{\"filename\":\"/config/www/photos/basil_{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":820,"y":260,"wires":[[]]},{"id":"a82545f6b69044df","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":220,"wires":[["fae1930ea7dbdaef"]]},{"id":"960397ce4bbc7662","type":"comment","z":"0a84fcef42ddc94e","name":"Send the picture to the AI Server","info":"","x":950,"y":40,"wires":[]},{"id":"cb0d25c7b7b6aece","type":"comment","z":"0a84fcef42ddc94e","name":"save the picture to the server file system","info":"","x":290,"y":100,"wires":[]},{"id":"3b3c3b068dcdc6a0","type":"exec","z":"0a84fcef42ddc94e","d":true,"command":"curl --request POST 'http://192.168.178.201:8001/prediction/' --form 'file=@\"/path/to/image.jpg\"'","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":470,"y":140,"wires":[[],[],[]]},{"id":"e5cb53c5b96ed5e8","type":"ui_button","z":"0a84fcef42ddc94e","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":260,"wires":[["fae1930ea7dbdaef"]]},{"id":"4ce44b980e05be79","type":"server-events","z":"0a84fcef42ddc94e","name":"","server":"f482c16b.7b4d","version":1,"event_type":"state_changed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":120,"y":300,"wires":[["643e0805c27ad87f"]]},{"id":"643e0805c27ad87f","type":"switch","z":"0a84fcef42ddc94e","name":"","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"switch.momentary_camera_snapshots","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":320,"wires":[["b0f4059b04174255"]]},{"id":"fae1930ea7dbdaef","type":"change","z":"0a84fcef42ddc94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":260,"wires":[["330aa2f.a6d1d5e"]]},{"id":"b0f4059b04174255","type":"switch","z":"0a84fcef42ddc94e","name":"","property":"payload.event.new_state.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":320,"wires":[["b17e6cb3da98de82","fae1930ea7dbdaef"]]},{"id":"b17e6cb3da98de82","type":"debug","z":"0a84fcef42ddc94e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":320,"wires":[]},{"id":"64045843ccf3be90","type":"http request","z":"0a84fcef42ddc94e","name":"accounts","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://fabman.io/api/v1/members","tls":"","persist":false,"proxy":"","authType":"bearer","senderr":false,"x":300,"y":440,"wires":[["c78c3ce82bb9f974"]]},{"id":"b0d01a6df724d8e6","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":420,"wires":[["64045843ccf3be90"]]},{"id":"c78c3ce82bb9f974","type":"debug","z":"0a84fcef42ddc94e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":400,"wires":[]}]