node-red/flows.json
[{"id":"0a84fcef42ddc94e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"8ecde103e664eec0","type":"tab","label":"Cameras","disabled":false,"info":"","env":[]},{"id":"2709ed20d07ea830","type":"tab","label":"Telegram Bot","disabled":false,"info":"","env":[]},{"id":"c7fa6c57.aa19e","type":"tab","label":"Dev","disabled":true,"info":""},{"id":"ab1036a4c01aab80","type":"subflow","name":"Picture","info":"","category":"","in":[{"x":40,"y":280,"wires":[{"id":"1b2a050c6aeb59a3"}]}],"out":[{"x":1240,"y":300,"wires":[{"id":"339e9f949a87e978","port":0},{"id":"3f7ee72a99f31698","port":0},{"id":"b7a95a69cb6323a0","port":0},{"id":"9cd59682cb6e706a","port":0},{"id":"3d50fa9f3089425e","port":0},{"id":"399aec1c9bc888a5","port":0},{"id":"bab8f70489938717","port":0},{"id":"2e52f87077047aa1","port":0},{"id":"f98ff7bd174079fc","port":0},{"id":"a2098170b1d4826f","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"48c607f195e854e0","type":"subflow","name":"Sensor","info":"","category":"","in":[{"x":260,"y":160,"wires":[{"id":"018890c568724ccb"}]}],"out":[{"x":1900,"y":1900,"wires":[{"id":"d191939ade03b663","port":0},{"id":"3de2061006ed4f14","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b23737722e71b01c","type":"subflow","name":"Status","info":"","category":"","in":[{"x":120,"y":100,"wires":[{"id":"15c51c2042b7ed22"}]}],"out":[{"x":2960,"y":1180,"wires":[{"id":"e5275f00efd0cfaf","port":0},{"id":"875d78b4cd8d2901","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"9e7ca1741a410453","type":"subflow","name":"Restart","info":"","category":"","in":[{"x":100,"y":200,"wires":[{"id":"4611608905aa7003"}]}],"out":[{"x":1300,"y":160,"wires":[{"id":"9870875b85e30781","port":0},{"id":"a0b78b93d8cee4bb","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ca65c1dbac21ab41","type":"subflow","name":"Power","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"922a8d6a1d97d0ef"}]}],"out":[{"x":900,"y":180,"wires":[{"id":"78872f6d664a1dc4","port":0},{"id":"995a79c0d062cc28","port":0},{"id":"117dd8d8bf3522f8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"f482c16b.7b4d","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30"},{"id":"090665a04fa6c385","type":"mqtt-broker","name":"Homeassistant MQTT Broker","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ef067c6f.620e6","type":"server","name":"hass.io","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"62d7bb2f.196044","type":"server","d":true,"name":"ESP Home","version":2,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":true,"heartbeatInterval":"10"},{"id":"d28c9492.f419c8","type":"server","name":"","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""},{"id":"2dde05e9153f7e26","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7724bf65801a42b3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5fde6ffd3a8708d4","type":"ui_group","name":"Standard","tab":"2dde05e9153f7e26","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"250eeee2.afada2","type":"mqtt-broker","name":"192.168.1.8","broker":"192.168.1.8","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a526e1d6acb6b7ab","type":"telegram bot","botname":"protohaus-ofai-pcs","usernames":"CptPingui","chatids":"-1001698219543","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"eb4f80de.bd93a","type":"server","name":"Home Assistant"},{"id":"d73229eefcbd69e2","type":"telegrambot-config","d":true,"botname":"protohaus-ofai-pcs","usernames":"CptPingui,","chatIds":"-1001698219543,","pollInterval":"300"},{"id":"fdbea5e0.730e08","type":"http request","z":"ab1036a4c01aab80","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"192.168.188.65/picture/1/current/","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"headers":[],"x":470,"y":520,"wires":[["3f7ee72a99f31698"]]},{"id":"25e3021fefb298c5","type":"comment","z":"ab1036a4c01aab80","name":"IP Camera Configuration","info":"","x":510,"y":480,"wires":[]},{"id":"a2098170b1d4826f","type":"function","z":"ab1036a4c01aab80","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam1`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":120,"wires":[[]]},{"id":"173ab3da1bddfcbd","type":"comment","z":"ab1036a4c01aab80","name":"ESP32 Camera Configuration","info":"","x":520,"y":80,"wires":[]},{"id":"43399e15d0db9da5","type":"api-call-service","z":"ab1036a4c01aab80","name":"Snapshot pcs1.cam1","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam1_camera","data":"{\"filename\":\"/config/www/pcs1_cam1.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":500,"y":120,"wires":[["b1ef6fc950ef5462"]]},{"id":"b1ef6fc950ef5462","type":"file in","z":"ab1036a4c01aab80","name":"load image","filename":"/config/www/pcs1_cam1.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":120,"wires":[["a2098170b1d4826f"]]},{"id":"1b2a050c6aeb59a3","type":"switch","z":"ab1036a4c01aab80","name":"Choose Cam","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/pic_pcs1_cam1","vt":"str"},{"t":"eq","v":"/pic_pcs1_cam2","vt":"str"},{"t":"eq","v":"/pic_pcs1_cam3","vt":"str"},{"t":"eq","v":"/pic_pcs1_cam4","vt":"str"},{"t":"eq","v":"/pic_pcs1_cam5","vt":"str"},{"t":"eq","v":"/pic_pcs1_cam6","vt":"str"},{"t":"eq","v":"/pic_pcs1_cam7","vt":"str"},{"t":"eq","v":"/pic_pcs1_cam8","vt":"str"},{"t":"eq","v":"/pic_pcs1_all","vt":"str"},{"t":"eq","v":"/pic_all","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":11,"x":190,"y":280,"wires":[["43399e15d0db9da5"],["08260b977be2b610"],["11110b9b342bbb1f"],["1330d7d89ea87472"],["f84afacb92a942cc"],["479df0f5d416a6f1"],["7d6aba86bc174503"],["d26d5481a4a9c539"],["7d6aba86bc174503","479df0f5d416a6f1","f84afacb92a942cc","1330d7d89ea87472","11110b9b342bbb1f","08260b977be2b610","43399e15d0db9da5","d26d5481a4a9c539"],["43399e15d0db9da5","08260b977be2b610","11110b9b342bbb1f","1330d7d89ea87472","f84afacb92a942cc","479df0f5d416a6f1","7d6aba86bc174503","d26d5481a4a9c539"],["339e9f949a87e978"]]},{"id":"08260b977be2b610","type":"api-call-service","z":"ab1036a4c01aab80","name":"Snapshot pcs1.cam2","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam2_camera","data":"{\"filename\":\"/config/www/pcs1_cam2.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":500,"y":160,"wires":[["0f074779063b0565"]]},{"id":"0f074779063b0565","type":"file in","z":"ab1036a4c01aab80","name":"load image","filename":"/config/www/pcs1_cam2.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":160,"wires":[["f98ff7bd174079fc"]]},{"id":"11110b9b342bbb1f","type":"api-call-service","z":"ab1036a4c01aab80","name":"Snapshot pcs1.cam3","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam3_camera","data":"{\"filename\":\"/config/www/pcs1_cam3.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":500,"y":200,"wires":[["d6286627733658d0"]]},{"id":"d6286627733658d0","type":"file in","z":"ab1036a4c01aab80","name":"load image","filename":"/config/www/pcs1_cam3.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":200,"wires":[["2e52f87077047aa1"]]},{"id":"1330d7d89ea87472","type":"api-call-service","z":"ab1036a4c01aab80","name":"Snapshot pcs1.cam4","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam4_camera","data":"{\"filename\":\"/config/www/pcs1_cam4.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":500,"y":240,"wires":[["9b3fa02b9dd46aca"]]},{"id":"9b3fa02b9dd46aca","type":"file in","z":"ab1036a4c01aab80","name":"load image","filename":"/config/www/pcs1_cam4.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":240,"wires":[["bab8f70489938717"]]},{"id":"f84afacb92a942cc","type":"api-call-service","z":"ab1036a4c01aab80","name":"Snapshot pcs1.cam5","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam5_camera","data":"{\"filename\":\"/config/www/pcs1_cam5.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":500,"y":280,"wires":[["14327525df6f7489"]]},{"id":"14327525df6f7489","type":"file in","z":"ab1036a4c01aab80","name":"load image","filename":"/config/www/pcs1_cam5.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":280,"wires":[["399aec1c9bc888a5"]]},{"id":"479df0f5d416a6f1","type":"api-call-service","z":"ab1036a4c01aab80","name":"Snapshot pcs1.cam6","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam6_camera","data":"{\"filename\":\"/config/www/pcs1_cam6.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":500,"y":320,"wires":[["1a8d6b101365b544"]]},{"id":"1a8d6b101365b544","type":"file in","z":"ab1036a4c01aab80","name":"load image","filename":"/config/www/pcs1_cam6.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":320,"wires":[["3d50fa9f3089425e"]]},{"id":"7d6aba86bc174503","type":"api-call-service","z":"ab1036a4c01aab80","name":"Snapshot pcs1.cam7","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam7_camera","data":"{\"filename\":\"/config/www/pcs1_cam7.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":500,"y":360,"wires":[["4f37124a1bb6b24d"]]},{"id":"4f37124a1bb6b24d","type":"file in","z":"ab1036a4c01aab80","name":"load image","filename":"/config/www/pcs1_cam7.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":360,"wires":[["9cd59682cb6e706a"]]},{"id":"339e9f949a87e978","type":"function","z":"ab1036a4c01aab80","name":"help Message","func":"var message = \n`\n*You requested an unknown camera*\n\nPlease use one of the following commands\\\\:\n\n/help\n/pic\\\\_pcs1\\\\_cam1\n/pic\\\\_pcs1\\\\_cam2\n/pic\\\\_pcs1\\\\_cam3\n/pic\\\\_pcs1\\\\_cam4\n/pic\\\\_pcs1\\\\_cam5\n/pic\\\\_pcs1\\\\_cam6\n/pic\\\\_pcs1\\\\_cam7\n/pic\\\\_pcs1\\\\_cam8\n/pic\\\\_pcs1\\\\_all\n/pic\\\\_all\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":620,"wires":[[]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"f98ff7bd174079fc","type":"function","z":"ab1036a4c01aab80","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam2`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":160,"wires":[[]]},{"id":"2e52f87077047aa1","type":"function","z":"ab1036a4c01aab80","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam3`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":200,"wires":[[]]},{"id":"bab8f70489938717","type":"function","z":"ab1036a4c01aab80","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam4`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":240,"wires":[[]]},{"id":"399aec1c9bc888a5","type":"function","z":"ab1036a4c01aab80","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam5`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":280,"wires":[[]]},{"id":"3d50fa9f3089425e","type":"function","z":"ab1036a4c01aab80","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam6`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":320,"wires":[[]]},{"id":"9cd59682cb6e706a","type":"function","z":"ab1036a4c01aab80","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam7`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":360,"wires":[[]]},{"id":"3f7ee72a99f31698","type":"function","z":"ab1036a4c01aab80","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam8`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":520,"wires":[[]]},{"id":"d26d5481a4a9c539","type":"api-call-service","z":"ab1036a4c01aab80","name":"Snapshot camera1","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.camera1","data":"{\"filename\":\"/config/www/camera1.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":490,"y":420,"wires":[["652edc732e0a501c"]]},{"id":"652edc732e0a501c","type":"file in","z":"ab1036a4c01aab80","name":"load image","filename":"/config/www/camera1.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":420,"wires":[["b7a95a69cb6323a0"]]},{"id":"b7a95a69cb6323a0","type":"function","z":"ab1036a4c01aab80","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: camera1`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":420,"wires":[[]]},{"id":"4c69704eea8fe93b","type":"comment","z":"ab1036a4c01aab80","name":"Camera Configuration","info":"","x":140,"y":40,"wires":[]},{"id":"a9d35b21f14734cc","type":"comment","z":"48c607f195e854e0","name":"Sensor Data Configuration","info":"","x":190,"y":80,"wires":[]},{"id":"3de2061006ed4f14","type":"function","z":"48c607f195e854e0","name":"send message","func":"var message = msg.sensor_values;\nmsg.payload = msg.telegram_message;\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview: true,\n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1720,"y":1840,"wires":[[]]},{"id":"9646d923.432558","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_growth_chamber_average_humidity","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_growth_chamber_average_humidity","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_growth_chamber_average_humidity","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":880,"y":1220,"wires":[["d92bf2f0.d578"]]},{"id":"d92bf2f0.d578","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_growth_chamber_average_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_growth_chamber_average_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_growth_chamber_average_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":890,"y":1280,"wires":[["ec9f0147.f77b2"]]},{"id":"ec9f0147.f77b2","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_growth_chamber_average_illuminance","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_growth_chamber_average_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_growth_chamber_average_illuminance","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":890,"y":1340,"wires":[["cf2310f2b0f381a8"]]},{"id":"67634f6c.20eb7","type":"template","z":"48c607f195e854e0","name":"format it","field":"sensor_values","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*__Plant Control System 1 \\- Sensor Data__*\n\n*Power Consumption*\nEnergy total\\: {{pcs1_main_energy}} kWh\nPower total\\: {{pcs1_main_power}} W\n\n*Amperage*\nKinematics\\: {{pcs1_kin_current}} A\nLED1 Hall A\\: {{pcs1_led1_hall_a_current}} A\nLED1 Hall B\\: {{pcs1_led1_hall_b_current}} A\nLED2 Hall A\\: {{pcs1_led2_hall_a_current}} A\nLED2 Hall B\\: {{pcs1_led2_hall_b_current}} A\nLED3 Hall A\\: {{pcs1_led3_hall_a_current}} A\nLED4 Hall A\\: {{pcs1_led4_hall_a_current}} A\n\n*Outside*\nTemperature\\: {{pcs1_outside_average_temperature}} °C\n\n*Electronics Chamber*\nTemperature\\: {{pcs1_pwm_dallas_1_temperature}} °C\nTemperature Power Adapter\\: {{pcs1_pwm_dallas_24_36v_case_temperature}} °C\nTemperature Kinematics Controller\\: {{pcs1_kin_dallas_4_temperature}} °C\n\n*LED Panel*\nTemperature 40mm Fans\\: {{pcs1_led_panel_fan_140mm_average_temperature}} °C\nTemperature 80mm Fans\\: {{pcs1_led_panel_fan_80mm_average_temperature}} °C\nTemperature average\\: {{pcs1_led_panel_average_temperature}} °C\nTemperature max\\: {{pcs1_led_panel_average_max_temperature}} °C\n\n*Growth Chamber*\nTemperature\\: {{pcs1_growth_chamber_average_humidity}} °C\nHumidity\\: {{pcs1_growth_chamber_average_temperature}} \\%\nIlluminance\\: {{pcs1_growth_chamber_average_illuminance}} lx\nIlluminance max\\: {{pcs1_growth_chamber_average_max_illuminance}} lx\n\n*Water tank*\nTemperature\\: {{pcs1_as_rtd}} °C\nPH\\-Value\\: {{pcs1_as_ph}}\nConductivity\\: {{pcs1_as_ec}} μS\\/cm\n\n*Kinematics*\nGlobal angle\\: {{pcs1_kin_stepper_angle}}\nPlant gear angle\\: {{pcs1_kin_stepper_plant_gear_rotation_angle}}\nNumber of cycles\\: {{pcs1_kin_stepper_number_of_cycles}}","output":"str","x":1360,"y":1840,"wires":[["cb25d7b6dbc922e1"]]},{"id":"cb25d7b6dbc922e1","type":"function","z":"48c607f195e854e0","name":"function 1","func":"var message = msg.sensor_values;\nmessage = msg.sensor_values.replace(/\\./g, \"\\\\.\");\nmsg.sensor_values = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":1840,"wires":[["3de2061006ed4f14"]]},{"id":"cf2310f2b0f381a8","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_growth_chamber_average_max_illuminance","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_growth_chamber_average_max_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_growth_chamber_average_max_illuminance","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":910,"y":1400,"wires":[["6057264122077205"]]},{"id":"7122fd1877cce70f","type":"comment","z":"48c607f195e854e0","name":"Outside","info":"","x":770,"y":660,"wires":[]},{"id":"aa0f51068fc28f49","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_outside_average_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_outside_average_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_outside_average_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":870,"y":700,"wires":[["399220f5203c7980"]]},{"id":"d7faf1aad28a5a28","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_led_panel_fan_140mm_average_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led_panel_fan_140mm_average_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led_panel_fan_140mm_average_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":910,"y":980,"wires":[["255793e369b1496b"]]},{"id":"255793e369b1496b","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_led_panel_fan_80mm_average_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led_panel_fan_80mm_average_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led_panel_fan_80mm_average_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":910,"y":1020,"wires":[["3496d20f98c41ee1"]]},{"id":"3496d20f98c41ee1","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_led_panel_average_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led_panel_average_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led_panel_average_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":870,"y":1060,"wires":[["24c7e77758c470cc"]]},{"id":"24c7e77758c470cc","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_led_panel_average_max_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led_panel_average_max_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led_panel_average_max_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":890,"y":1100,"wires":[["9646d923.432558"]]},{"id":"84e59437bcbfc08b","type":"comment","z":"48c607f195e854e0","name":"Electronics Chamber","info":"","x":810,"y":760,"wires":[]},{"id":"b56ee3cce268f94d","type":"comment","z":"48c607f195e854e0","name":"LED Panel","info":"","x":780,"y":940,"wires":[]},{"id":"399220f5203c7980","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_pwm_dallas_1_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_pwm_dallas_1_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pwm_dallas_1_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":860,"y":800,"wires":[["26b148d692a72133"]]},{"id":"26b148d692a72133","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_pwm_dallas_24_36v_case_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_pwm_dallas_24_36v_case_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pwm_dallas_24_36v_case_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":900,"y":840,"wires":[["5bf6b1d4e81ad3a8"]]},{"id":"5bf6b1d4e81ad3a8","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_kin_dallas_4_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_kin_dallas_4_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_dallas_4_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":850,"y":880,"wires":[["d7faf1aad28a5a28"]]},{"id":"a0c7954da404e8c3","type":"comment","z":"48c607f195e854e0","name":"Growth Chamber","info":"","x":800,"y":1180,"wires":[]},{"id":"c471f0888cca8c0e","type":"comment","z":"48c607f195e854e0","name":"Sensor Data","info":"","x":790,"y":20,"wires":[]},{"id":"5c05af0a8a4570f0","type":"comment","z":"48c607f195e854e0","name":"Water Tank","info":"","x":790,"y":1480,"wires":[]},{"id":"6057264122077205","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_as_ec","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_as_ec","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_as_ec","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":790,"y":1520,"wires":[["975782d5a74649db"]]},{"id":"975782d5a74649db","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_as_rtd","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_as_rtd","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_as_rtd","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":790,"y":1560,"wires":[["05ff8c81ee0f47ac"]]},{"id":"05ff8c81ee0f47ac","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_as_ph","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_as_ph","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_as_ph","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":790,"y":1600,"wires":[["891006cd7ac7ba8f"]]},{"id":"018890c568724ccb","type":"switch","z":"48c607f195e854e0","name":"Choose pcs","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/sensor_pcs1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":160,"wires":[["3ceae830466940eb"],["d191939ade03b663"]]},{"id":"d191939ade03b663","type":"function","z":"48c607f195e854e0","name":"help Message","func":"var message = \n`\n*You requested an unknown pcs*\n\nPlease use one of the following commands\\\\:\n\n/help\n/sensor\\\\_pcs1\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":1900,"wires":[[]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"43d37a1d62b4af3b","type":"comment","z":"48c607f195e854e0","name":"Kinematics","info":"","x":780,"y":1660,"wires":[]},{"id":"891006cd7ac7ba8f","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_kin_stepper_angle","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_kin_stepper_angle","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_stepper_angle","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":830,"y":1700,"wires":[["b40e4fc8f3b12f56"]]},{"id":"b40e4fc8f3b12f56","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_kin_stepper_plant_gear_rotation_angle","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_kin_stepper_plant_gear_rotation_angle","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_stepper_plant_gear_rotation_angle","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":900,"y":1760,"wires":[["b50b677a321f8d6d"]]},{"id":"b50b677a321f8d6d","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_kin_stepper_number_of_cycles","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_kin_stepper_number_of_cycles","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_stepper_number_of_cycles","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":870,"y":1820,"wires":[["67634f6c.20eb7"]]},{"id":"9b0a8bb86f86125b","type":"comment","z":"48c607f195e854e0","name":"Power Consumption","info":"","x":810,"y":60,"wires":[]},{"id":"3ceae830466940eb","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_main_energy","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_main_energy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_main_energy","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":810,"y":100,"wires":[["fdca3086bda2f08a"]]},{"id":"fdca3086bda2f08a","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_main_power","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_main_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_main_power","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":810,"y":140,"wires":[["e4fea31dda5643c3"]]},{"id":"e4fea31dda5643c3","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_kin_current","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_kin_current","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_current","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":810,"y":200,"wires":[["b5b40872f9c4ce09"]]},{"id":"b5b40872f9c4ce09","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_led1_hall_a_current","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led1_hall_a_current","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led1_hall_a_current","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":840,"y":240,"wires":[["68550ecd816985ae"]]},{"id":"68550ecd816985ae","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_led1_hall_b_current","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led1_hall_b_current","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led1_hall_b_current","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":840,"y":280,"wires":[["525bdf6494cf68fd"]]},{"id":"525bdf6494cf68fd","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_led2_hall_a_current","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led2_hall_a_current","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led2_hall_a_current","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":840,"y":320,"wires":[["01169e331fa405f6"]]},{"id":"01169e331fa405f6","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_led2_hall_b_current","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led2_hall_b_current","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led2_hall_b_current","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":840,"y":360,"wires":[["454b25b6b299e89f"]]},{"id":"454b25b6b299e89f","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_led3_hall_a_current","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led3_hall_a_current","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led3_hall_a_current","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":840,"y":400,"wires":[["389b969f6860a24a"]]},{"id":"389b969f6860a24a","type":"api-current-state","z":"48c607f195e854e0","name":"pcs1_led4_hall_a_current","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led4_hall_a_current","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led4_hall_a_current","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":840,"y":440,"wires":[["aa0f51068fc28f49"]]},{"id":"72a8df5fb02f3ea0","type":"comment","z":"b23737722e71b01c","name":"System Status Configuration","info":"","x":220,"y":40,"wires":[]},{"id":"f8c87ef3aa821af7","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_as_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_as_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_as_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":940,"y":140,"wires":[["7afd7503bf8ca145"]]},{"id":"e5275f00efd0cfaf","type":"function","z":"b23737722e71b01c","name":"send message","func":"var message = msg.sensor_values;\nmsg.payload = msg.telegram_message;\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview: true,\n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2820,"y":1120,"wires":[[]]},{"id":"881a86438872492c","type":"template","z":"b23737722e71b01c","name":"format it","field":"sensor_values","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*__Plant Control System 1 \\- LED Controller status__*\n*PWM*\na\\_1\\_white\\: {{pcs1_pwm_cc_a_1_white}}\na\\_2\\_white\\: {{pcs1_pwm_cc_a_2_white}}\na\\_3\\_520nm\\: {{pcs1_pwm_cc_a_3_520nm}}\na\\_4\\_fan\\: {{pcs1_pwm_cc_a_4_fan}}\n\n*LED1*\na\\_1\\_730nm\\: {{pcs1_led1_cc_a_1_730nm}}\na\\_2\\_730nm\\: {{pcs1_led1_cc_a_2_730nm}}\na\\_3\\_730nm\\: {{pcs1_led1_cc_a_3_730nm}}\na\\_4\\_730nm\\: {{pcs1_led1_cc_a_4_730nm}}\nb\\_1\\_660nm\\: {{pcs1_led1_cc_b_1_660nm}}\nb\\_2\\_660nm\\: {{pcs1_led1_cc_b_2_660nm}}\nb\\_3\\_660nm\\: {{pcs1_led1_cc_b_3_660nm}}\nb\\_4\\_660nm\\: {{pcs1_led1_cc_b_4_660nm}}\n\n*LED2*\na\\_1\\_630nm\\: {{pcs1_led2_cc_a_1_630nm}}\na\\_2\\_630nm\\: {{pcs1_led2_cc_a_2_630nm}}\na\\_3\\_630nm\\: {{pcs1_led2_cc_a_3_630nm}}\na\\_4\\_630nm\\: {{pcs1_led2_cc_a_4_630nm}}\nb\\_1\\_630nm\\: {{pcs1_led2_cc_b_1_630nm}}\nb\\_2\\_630nm\\: {{pcs1_led2_cc_b_2_630nm}}\nb\\_3\\_630nm\\: {{pcs1_led2_cc_b_3_630nm}}\nb\\_4\\_630nm\\: {{pcs1_led2_cc_b_4_630nm}}\n\n*LED3*\na\\_1\\_butterfly\\: {{pcs1_led3_cc_a_1_butterfly}}\na\\_2\\_butterfly\\: {{pcs1_led3_cc_a_2_butterfly}}\na\\_3\\_butterfly\\: {{pcs1_led3_cc_a_3_butterfly}}\na\\_4\\_butterfly\\: {{pcs1_led3_cc_a_4_butterfly}}\n\n*LED4*\na\\_1\\_450nm:\\ {{pcs1_led4_cc_a_1_450nm}}\na\\_2\\_450nm:\\ {{pcs1_led4_cc_a_2_450nm}}\na\\_3\\_450nm:\\ {{pcs1_led4_cc_a_3_450nm}}\na\\_4\\_450nm:\\ {{pcs1_led4_cc_a_4_450nm}}","output":"str","x":2500,"y":820,"wires":[["152a4222d2bce967"]]},{"id":"152a4222d2bce967","type":"function","z":"b23737722e71b01c","name":"function 3","func":"var message = msg.sensor_values;\nmessage = msg.sensor_values.replace(/\\./g, \"\\\\.\");\nmsg.sensor_values = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2620,"y":1120,"wires":[["e5275f00efd0cfaf"]]},{"id":"b74175a2fa057431","type":"comment","z":"b23737722e71b01c","name":"ESP32 Controller Status","info":"","x":950,"y":40,"wires":[]},{"id":"7afd7503bf8ca145","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_cam1_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam1_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam1_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":180,"wires":[["e045093fefc93dca"]]},{"id":"e045093fefc93dca","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_cam2_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam2_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam2_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":240,"wires":[["7c01163c6a83e849"]]},{"id":"7c01163c6a83e849","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_cam3_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam3_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam3_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":300,"wires":[["a00ad433ee1ea283"]]},{"id":"a00ad433ee1ea283","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_cam4_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam4_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam4_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":360,"wires":[["0a5d0c5da909c688"]]},{"id":"0a5d0c5da909c688","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_cam5_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam5_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam5_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":420,"wires":[["c8702b07db1d3c3e"]]},{"id":"c8702b07db1d3c3e","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_cam6_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam6_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam6_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":480,"wires":[["2b36ea13537740e5"]]},{"id":"2b36ea13537740e5","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_cam7_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam7_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam7_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":540,"wires":[["b77f22f93f10cb1e"]]},{"id":"b77f22f93f10cb1e","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_kin_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_kin_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":940,"y":600,"wires":[["b22beb6f05c3a661"]]},{"id":"b22beb6f05c3a661","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led1_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_led1_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led1_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":660,"wires":[["44ddf8c700f40ee8"]]},{"id":"44ddf8c700f40ee8","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led2_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_led2_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led2_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":720,"wires":[["14aec7576e8539c0"]]},{"id":"14aec7576e8539c0","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led3_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_led3_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led3_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":780,"wires":[["9c230bbff29ce4ea"]]},{"id":"9c230bbff29ce4ea","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led4_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_led4_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led4_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":840,"wires":[["5d0afa210f0be3f0"]]},{"id":"5d0afa210f0be3f0","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_pwm_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_pwm_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pwm_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":900,"wires":[["4ef2e39e2cd33dc6"]]},{"id":"4ef2e39e2cd33dc6","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_pump_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_pump_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pump_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":960,"wires":[["f02d8f9b8988ab78"]]},{"id":"153873dda9f64306","type":"comment","z":"b23737722e71b01c","name":"Kinematics","info":"","x":1180,"y":40,"wires":[]},{"id":"5811ea34ca5ee164","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_kin_stepper_enable_motor","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.pcs1_kin_stepper_enable_motor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_stepper_enable_motor","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1260,"y":100,"wires":[["7c3ba36551a36228"]]},{"id":"7c3ba36551a36228","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_kin_stepper_active","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_kin_stepper_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_stepper_active","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1250,"y":160,"wires":[["f1998a10e4cdc169"]]},{"id":"f1998a10e4cdc169","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_kin_stepper_homing_is_valid","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_kin_stepper_homing_is_valid","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_stepper_homing_is_valid","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1280,"y":240,"wires":[["52c4b87b77859cda"]]},{"id":"52c4b87b77859cda","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_kin_stepper_error_code","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_kin_stepper_error_code","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_stepper_error_code","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1250,"y":320,"wires":[["0499d1bca1436586"]]},{"id":"0499d1bca1436586","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_kin_stepper_mode","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_kin_stepper_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_stepper_mode","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1230,"y":380,"wires":[["83561b399977f5a6"]]},{"id":"83561b399977f5a6","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_kin_stepper_automation_mode","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_kin_stepper_automation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_stepper_automation_mode","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1290,"y":440,"wires":[["c69a392ae851be7f"]]},{"id":"769f129cb07ace1f","type":"comment","z":"b23737722e71b01c","name":"Pump","info":"","x":1550,"y":40,"wires":[]},{"id":"50bc2749f483f63e","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_pump_enable","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.pcs1_pump_enable","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pump_enable","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1580,"y":100,"wires":[["b2fc09ef13bfd14e"]]},{"id":"b2fc09ef13bfd14e","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_pump_automation","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.pcs1_pump_automation","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pump_automation","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1590,"y":160,"wires":[["36aaaf2d060a1438"]]},{"id":"ab1ccc685c069072","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_pwm_cc_a_1_white","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_pwm_cc_a_1_white","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pwm_cc_a_1_white","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1870,"y":140,"wires":[["5a010915a6be5c46"]]},{"id":"a8c1d151c79ea68e","type":"comment","z":"b23737722e71b01c","name":"LED","info":"","x":1810,"y":40,"wires":[]},{"id":"5a010915a6be5c46","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_pwm_cc_a_2_white","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_pwm_cc_a_2_white","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pwm_cc_a_2_white","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1870,"y":200,"wires":[["6a3c27c258c14fab"]]},{"id":"6a3c27c258c14fab","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_pwm_cc_a_3_520nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_pwm_cc_a_3_520nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pwm_cc_a_3_520nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1880,"y":260,"wires":[["29cad3a1d6e9a4b3"]]},{"id":"2f0af38a67194f50","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_pwm_cc_a_4_fan","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"fan.pcs1_pwm_cc_a_4_fan","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pwm_cc_a_4_fan","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1870,"y":80,"wires":[["ab1ccc685c069072"]]},{"id":"29cad3a1d6e9a4b3","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led1_cc_a_1_730nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led1_cc_a_1_730nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led1_cc_a_1_730nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1880,"y":340,"wires":[["d634c4df28bf5f75"]]},{"id":"d634c4df28bf5f75","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led1_cc_a_2_730nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led1_cc_a_2_730nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led1_cc_a_2_730nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1880,"y":400,"wires":[["6b2f6fde979c017c"]]},{"id":"6b2f6fde979c017c","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led1_cc_a_3_730nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led1_cc_a_3_730nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led1_cc_a_3_730nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1880,"y":460,"wires":[["a76abff7869e15e8"]]},{"id":"a76abff7869e15e8","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led1_cc_a_4_730nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led1_cc_a_4_730nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led1_cc_a_4_730nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1880,"y":520,"wires":[["37d1583516db21b9"]]},{"id":"37d1583516db21b9","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led1_cc_b_1_660nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led1_cc_b_1_660nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led1_cc_b_1_660nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1880,"y":580,"wires":[["80afbb36b25b1015"]]},{"id":"80afbb36b25b1015","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led1_cc_b_2_660nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led1_cc_b_2_660nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led1_cc_b_2_660nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1880,"y":640,"wires":[["7a1595c531c6e47b"]]},{"id":"7a1595c531c6e47b","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led1_cc_b_3_660nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led1_cc_b_3_660nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led1_cc_b_3_660nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1880,"y":700,"wires":[["2e297c6f5a5d9691"]]},{"id":"2e297c6f5a5d9691","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led1_cc_b_4_660nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led1_cc_b_4_660nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led1_cc_b_4_660nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1880,"y":760,"wires":[["ca13e84c7c7e6acb"]]},{"id":"15c51c2042b7ed22","type":"switch","z":"b23737722e71b01c","name":"Choose Info","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/status_pcs1_controller","vt":"str"},{"t":"eq","v":"/status_pcs1_kinematics","vt":"str"},{"t":"eq","v":"/status_pcs1_pump","vt":"str"},{"t":"eq","v":"/status_pcs1_led","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":370,"y":100,"wires":[["8c04d4bd8e0a32f6"],["5811ea34ca5ee164"],["50bc2749f483f63e"],["2f0af38a67194f50"],["875d78b4cd8d2901"]]},{"id":"f02d8f9b8988ab78","type":"template","z":"b23737722e71b01c","name":"format it","field":"sensor_values","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*__Plant Control System 1 \\- Device Information__*\n\nMain Power Supply\\: {{pcs1_main}}\nAtlas Scientific\\: {{pcs1_as_status}}\nCam 1\\: {{pcs1_cam1_status}}\nCam 2\\: {{pcs1_cam2_status}}\nCam 3\\: {{pcs1_cam3_status}}\nCam 4\\: {{pcs1_cam4_status}}\nCam 5\\: {{pcs1_cam5_status}}\nCam 6\\: {{pcs1_cam6_status}}\nCam 7\\: {{pcs1_cam7_status}}\nKinematics\\: {{pcs1_kin_status}}\nLED 1\\: {{pcs1_led1_status}}\nLED 2\\: {{pcs1_led2_status}}\nLED 3\\: {{pcs1_led3_status}}\nLED 4\\: {{pcs1_led4_status}}\nPWM\\: {{pcs1_pwm_status}}\nPump\\: {{pcs1_pump_status}}","output":"str","x":920,"y":1040,"wires":[["152a4222d2bce967"]]},{"id":"875d78b4cd8d2901","type":"function","z":"b23737722e71b01c","name":"help Message","func":"var message = \n`\n*Choose one of the following options\\\\:*\n\n/help\n/status\\\\_pcs1\\\\_controller\n/status\\\\_pcs1\\\\_kinematics\n/status\\\\_pcs1\\\\_pump\n/status\\\\_pcs1\\\\_led\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1240,"wires":[[]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"c69a392ae851be7f","type":"template","z":"b23737722e71b01c","name":"format it","field":"sensor_values","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*__Plant Control System 1 \\- Kinematics status__*\n\nMotor enabled\\: {{pcs1_kin_stepper_enable_motor}}\nMotor active\\: {{pcs1_kin_stepper_active}}\nHoming is valied\\: {{pcs1_kin_stepper_homing_is_valid}}\nError code\\: {{pcs1_kin_stepper_error_code}}\nMode\\: {{pcs1_kin_stepper_mode}}\nAutomation mode\\: {{pcs1_kin_stepper_automation_mode}}\n","output":"str","x":1220,"y":920,"wires":[["152a4222d2bce967"]]},{"id":"36aaaf2d060a1438","type":"template","z":"b23737722e71b01c","name":"format it","field":"sensor_values","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*__Plant Control System 1 \\- Pump status__*\n\nPump enabled\\: {{pcs1_pump_enable}}\nPump Automation active\\: {{pcs1_pump_automation}}","output":"str","x":1540,"y":760,"wires":[["152a4222d2bce967"]]},{"id":"ca13e84c7c7e6acb","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led2_cc_a_1_630nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led2_cc_a_1_630nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led2_cc_a_1_630nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2180,"y":80,"wires":[["ebae3f762fce07e9"]]},{"id":"ebae3f762fce07e9","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led2_cc_a_2_630nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led2_cc_a_2_630nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led2_cc_a_2_630nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2180,"y":140,"wires":[["70018be6955d4a0d"]]},{"id":"70018be6955d4a0d","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led2_cc_a_3_630nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led2_cc_a_3_630nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led2_cc_a_3_630nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2180,"y":200,"wires":[["12d548e1fa0a35eb"]]},{"id":"12d548e1fa0a35eb","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led2_cc_a_4_630nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led2_cc_a_4_630nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led2_cc_a_4_630nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2180,"y":260,"wires":[["6e570d116e1fe2ba"]]},{"id":"6e570d116e1fe2ba","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led2_cc_b_1_630nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led2_cc_b_1_630nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led2_cc_b_1_630nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2180,"y":320,"wires":[["100b329fc481e9d4"]]},{"id":"100b329fc481e9d4","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led2_cc_b_2_630nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led2_cc_b_2_630nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led2_cc_b_2_630nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2180,"y":380,"wires":[["d195ab37cf907380"]]},{"id":"d195ab37cf907380","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led2_cc_b_3_630nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led2_cc_b_3_630nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led2_cc_b_3_630nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2180,"y":440,"wires":[["2e5001988676f900"]]},{"id":"2e5001988676f900","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led2_cc_b_4_630nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led2_cc_b_4_630nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led2_cc_b_4_630nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2180,"y":500,"wires":[["c3b001e391db2fec"]]},{"id":"c3b001e391db2fec","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led3_cc_a_1_butterfly","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led3_cc_a_1_butterfly","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led3_cc_a_1_butterfly","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2180,"y":580,"wires":[["42db4b1bdc50b07d"]]},{"id":"42db4b1bdc50b07d","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led3_cc_a_2_butterfly","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led3_cc_a_2_butterfly","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led3_cc_a_2_butterfly","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2180,"y":640,"wires":[["5f9bfb665d7d17a7"]]},{"id":"5f9bfb665d7d17a7","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led3_cc_a_3_butterfly","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led3_cc_a_3_butterfly","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led3_cc_a_3_butterfly","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2180,"y":700,"wires":[["ad5419a574c412bf"]]},{"id":"ad5419a574c412bf","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led3_cc_a_4_butterfly","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led3_cc_a_4_butterfly","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led3_cc_a_4_butterfly","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2180,"y":760,"wires":[["02a6f6b02c2698ac"]]},{"id":"02a6f6b02c2698ac","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led4_cc_a_1_450nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led4_cc_a_1_450nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led4_cc_a_1_450nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2500,"y":80,"wires":[["c7c24817f954fae3"]]},{"id":"c7c24817f954fae3","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led4_cc_a_2_450nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led4_cc_a_2_450nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led4_cc_a_2_450nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2500,"y":140,"wires":[["4f057f6525ecfb1a"]]},{"id":"4f057f6525ecfb1a","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led4_cc_a_3_450nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led4_cc_a_3_450nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led4_cc_a_3_450nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2500,"y":200,"wires":[["f45306ad8cb4f88b"]]},{"id":"f45306ad8cb4f88b","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_led4_cc_a_4_450nm","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pcs1_led4_cc_a_4_450nm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led4_cc_a_4_450nm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2500,"y":260,"wires":[["881a86438872492c"]]},{"id":"6d684a72239c0dab","type":"template","z":"b23737722e71b01c","name":"format it","field":"sensor_values","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*__Plant Control System 1 \\- Node status__*\n\nMain Power Controller\\: {{pcs1_main}}\nAtlas Scientific\\: {{pcs1_as_status}}\nCam 1\\: {{pcs1_cam1_status}}\nCam 2\\: {{pcs1_cam2_status}}\nCam 3\\: {{pcs1_cam3_status}}\nCam 4\\: {{pcs1_cam4_status}}\nCam 5\\: {{pcs1_cam5_status}}\nCam 6\\: {{pcs1_cam6_status}}\nCam 7\\: {{pcs1_cam7_status}}\nKinematics\\: {{pcs1_kin_status}}\nLED 1\\: {{pcs1_led1_status}}\nLED 2\\: {{pcs1_led2_status}}\nLED 3\\: {{pcs1_led3_status}}\nLED 4\\: {{pcs1_led4_status}}\nPWM\\: {{pcs1_pwm_status}}\nPump\\: {{pcs1_pump_status}}","output":"str","x":880,"y":1140,"wires":[["152a4222d2bce967"]]},{"id":"8c04d4bd8e0a32f6","type":"api-current-state","z":"b23737722e71b01c","name":"pcs1_main","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.pcs1_main","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_main","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":930,"y":80,"wires":[["f8c87ef3aa821af7"]]},{"id":"4611608905aa7003","type":"switch","z":"9e7ca1741a410453","name":"Choose Node","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/restart_pcs1_main","vt":"str"},{"t":"eq","v":"/restart_pcs1_as","vt":"str"},{"t":"eq","v":"/restart_pcs1_cam1","vt":"str"},{"t":"eq","v":"/restart_pcs1_cam2","vt":"str"},{"t":"eq","v":"/restart_pcs1_cam3","vt":"str"},{"t":"eq","v":"/restart_pcs1_cam4","vt":"str"},{"t":"eq","v":"/restart pcs1_cam5","vt":"str"},{"t":"eq","v":"/restart_pcs1_cam6","vt":"str"},{"t":"eq","v":"/restart_pcs1_cam7","vt":"str"},{"t":"eq","v":"/restart_pcs1_kin","vt":"str"},{"t":"eq","v":"/restart_pcs1_led1","vt":"str"},{"t":"eq","v":"/restart_pcs1_led2","vt":"str"},{"t":"eq","v":"/restart_pcs1_led3","vt":"str"},{"t":"eq","v":"/restart_pcs1_led4","vt":"str"},{"t":"eq","v":"/restart_pcs1_pwm","vt":"str"},{"t":"eq","v":"/restart_pcs1_pump","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":17,"x":260,"y":200,"wires":[["2fcaf9799534b1d7"],["63198af7d6e9f922"],["5d1428569352a6a2"],["8cedf61717a61053"],["ceb33822dab89e99"],["d839b769a5aed58b"],["46032d37bce9325e"],["2d5f7be417f45550"],["66564d475fa51178"],["d69ee6732612dba9"],["83f4f5769bdda618"],["8a7fdda2df849baf"],["be0ec3d81bd6fd5c"],["5ed0d6831505bf67"],["41423d8bd0a419e7"],["eb6c6024d3ae47bc"],["a0b78b93d8cee4bb"]]},{"id":"fa077b5ba0aa76da","type":"comment","z":"9e7ca1741a410453","name":"Reboot","info":"","x":90,"y":40,"wires":[]},{"id":"5d1428569352a6a2","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_cam1_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam1_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":160,"wires":[["9870875b85e30781"]]},{"id":"8cedf61717a61053","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_cam2_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam2_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":220,"wires":[["9870875b85e30781"]]},{"id":"ceb33822dab89e99","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_cam3_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam3_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":280,"wires":[["9870875b85e30781"]]},{"id":"d839b769a5aed58b","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_cam4_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam4_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":340,"wires":[["9870875b85e30781"]]},{"id":"46032d37bce9325e","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_cam5_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam5_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":400,"wires":[["9870875b85e30781"]]},{"id":"2d5f7be417f45550","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_cam6_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam6_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":460,"wires":[["9870875b85e30781"]]},{"id":"66564d475fa51178","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_cam7_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam7_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":520,"wires":[["9870875b85e30781"]]},{"id":"a0b78b93d8cee4bb","type":"function","z":"9e7ca1741a410453","name":"help Message","func":"var message = \n`\n*You requested an unknown pcs*\n\nPlease use one of the following commands\\\\:\n\n/help\n/restart\\\\_pcs1\\\\_main\n/restart\\\\_pcs1\\\\_as\n/restart\\\\_pcs1\\\\_cam1\n/restart\\\\_pcs1\\\\_cam2\n/restart\\\\_pcs1\\\\_cam3\n/restart\\\\_pcs1\\\\_cam4\n/restart\\\\_pcs1\\\\_cam5\n/restart\\\\_pcs1\\\\_cam6\n/restart\\\\_pcs1\\\\_cam7\n/restart\\\\_pcs1\\\\_kin\n/restart\\\\_pcs1\\\\_led1\n/restart\\\\_pcs1\\\\_led2\n/restart\\\\_pcs1\\\\_led3\n/restart\\\\_pcs1\\\\_led4\n/restart\\\\_pcs1\\\\_pwm\n/restart\\\\_pcs1\\\\_pump\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1060,"wires":[[]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"63198af7d6e9f922","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_as_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_as_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":100,"wires":[["9870875b85e30781"]]},{"id":"d69ee6732612dba9","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_kin_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_kin_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":580,"wires":[["9870875b85e30781"]]},{"id":"83f4f5769bdda618","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_led1_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_led1_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":640,"wires":[["9870875b85e30781"]]},{"id":"8a7fdda2df849baf","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_led2_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_led2_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":700,"wires":[["9870875b85e30781"]]},{"id":"be0ec3d81bd6fd5c","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_led3_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_led3_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":760,"wires":[["9870875b85e30781"]]},{"id":"5ed0d6831505bf67","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_led4_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_led4_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":820,"wires":[["9870875b85e30781"]]},{"id":"eb6c6024d3ae47bc","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_pump_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_pump_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":940,"wires":[["9870875b85e30781"]]},{"id":"41423d8bd0a419e7","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_pwm_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_pwm_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":880,"wires":[["9870875b85e30781"]]},{"id":"9870875b85e30781","type":"function","z":"9e7ca1741a410453","name":"restarting message","func":"var message = \n`\nRestarting node\n`;\n\nmsg.payload = msg.telegram_message;\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":160,"wires":[[]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"2fcaf9799534b1d7","type":"api-call-service","z":"9e7ca1741a410453","name":"pcs1_main","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_main_reboot","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":40,"wires":[["9870875b85e30781"]]},{"id":"922a8d6a1d97d0ef","type":"switch","z":"ca65c1dbac21ab41","name":"Choose Node","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/power_pcs1_on","vt":"str"},{"t":"eq","v":"/power_pcs1_off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":240,"y":200,"wires":[["2c7e4612f0474c19"],["5f424f059ad6c9f6"],["78872f6d664a1dc4"]]},{"id":"78872f6d664a1dc4","type":"function","z":"ca65c1dbac21ab41","name":"help Message","func":"var message = \n`\n*You requested an unknown command*\n\nPlease use one of the following commands\\\\:\n\n/help\n/power\\\\_pcs1\\\\_on\n/power\\\\_pcs1\\\\_off\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":280,"wires":[[]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"2c7e4612f0474c19","type":"api-call-service","z":"ca65c1dbac21ab41","name":"PCS1 On","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.pcs1_main","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":140,"wires":[["995a79c0d062cc28"]]},{"id":"5f424f059ad6c9f6","type":"api-call-service","z":"ca65c1dbac21ab41","name":"PCS1 Off","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.pcs1_main","data":"off","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":180,"wires":[["117dd8d8bf3522f8"]]},{"id":"995a79c0d062cc28","type":"function","z":"ca65c1dbac21ab41","name":"","func":"var message = \n`\nTurning on PCS1\n`;\n\nmsg.payload = msg.telegram_message;\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":120,"wires":[[]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"117dd8d8bf3522f8","type":"function","z":"ca65c1dbac21ab41","name":"","func":"var message = \n`\nTurning off PCS1\n`;\n\nmsg.payload = msg.telegram_message;\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":180,"wires":[[]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"c363ac69f6426299","type":"mqtt in","z":"0a84fcef42ddc94e","name":"","topic":"#","qos":"2","datatype":"auto","broker":"090665a04fa6c385","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":40,"wires":[["b394058093f84240"]]},{"id":"b394058093f84240","type":"debug","z":"0a84fcef42ddc94e","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":40,"wires":[]},{"id":"960397ce4bbc7662","type":"comment","z":"0a84fcef42ddc94e","name":"Send the picture to the AI Server","info":"","x":950,"y":40,"wires":[]},{"id":"cb0d25c7b7b6aece","type":"comment","z":"0a84fcef42ddc94e","name":"save the picture to the server file system","info":"","x":290,"y":100,"wires":[]},{"id":"3b3c3b068dcdc6a0","type":"exec","z":"0a84fcef42ddc94e","d":true,"command":"curl --request POST 'http://192.168.178.201:8001/prediction/' --form 'file=@\"/path/to/image.jpg\"'","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":470,"y":140,"wires":[[],[],[]]},{"id":"64045843ccf3be90","type":"http request","z":"0a84fcef42ddc94e","name":"accounts","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://fabman.io/api/v1/members","tls":"","persist":false,"proxy":"","authType":"bearer","senderr":false,"x":300,"y":440,"wires":[["c78c3ce82bb9f974"]]},{"id":"b0d01a6df724d8e6","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":440,"wires":[["64045843ccf3be90"]]},{"id":"c78c3ce82bb9f974","type":"debug","z":"0a84fcef42ddc94e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":440,"wires":[]},{"id":"aa312f6f1d1f6fa7","type":"tcp out","z":"0a84fcef42ddc94e","name":"Send Signal","host":"192.168.99.12","port":"1234","beserver":"client","base64":false,"end":false,"x":530,"y":560,"wires":[]},{"id":"703676520359d407","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"Message:I\\n\"","payloadType":"str","x":170,"y":560,"wires":[["d8e111d4e3b55ce8"]]},{"id":"554dde7fb94b24c1","type":"debug","z":"0a84fcef42ddc94e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":640,"wires":[]},{"id":"c43eb6d0.a40ec8","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x7B\",\"0x4D\",\"0x43\",\"0x00\",\"0x04\",\"0x1F\",\"0x0a\",\"0x08\",\"0x00\",\"0x0d\",\"0x7D\"]","payloadType":"bin","x":190,"y":620,"wires":[["aa312f6f1d1f6fa7","554dde7fb94b24c1"]]},{"id":"d8e111d4e3b55ce8","type":"function","z":"0a84fcef42ddc94e","name":"","func":"//const str = \"Hey. this is a string!\";\n\n// convert string to Buffer\n//const buff = Buffer.from(msg.payload, \"utf-8\");\nvar b = Buffer.from(msg.payload);\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":560,"wires":[["aa312f6f1d1f6fa7","554dde7fb94b24c1"]]},{"id":"31d2a9ed5c5d5901","type":"mqtt out","z":"0a84fcef42ddc94e","name":"","topic":"test","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"090665a04fa6c385","x":690,"y":40,"wires":[]},{"id":"61481db6918f8409","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"asassa111","payloadType":"str","x":560,"y":40,"wires":[["31d2a9ed5c5d5901"]]},{"id":"ed5bb17c8a805d85","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam1","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam1_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":200,"wires":[[]]},{"id":"a146c8659c3c7477","type":"server-events","z":"8ecde103e664eec0","d":true,"name":"","server":"f482c16b.7b4d","version":1,"event_type":"state_changed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":140,"y":420,"wires":[["980dc6ce4d8d76a1"]]},{"id":"980dc6ce4d8d76a1","type":"switch","z":"8ecde103e664eec0","name":"","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"button.pcs1_cam1_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam2_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam3_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam4_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam5_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam6_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam7_snapshot","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":370,"y":420,"wires":[["7cd536bbc6ddd750"],["6e38b51bb98fa30d"],["330c536dbab6ac0d"],["afe0b1f2d88300fe"],["5f3d193b96b4a098"],["6e701fafc2a6f7a4"],["7ea2de20719dc7cf"]]},{"id":"7cd536bbc6ddd750","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":200,"wires":[["ed5bb17c8a805d85"]]},{"id":"b65d32632abbadb3","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam2","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam2_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":260,"wires":[[]]},{"id":"6e38b51bb98fa30d","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":260,"wires":[["b65d32632abbadb3"]]},{"id":"330c536dbab6ac0d","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":320,"wires":[["49e2f4e3693db76c"]]},{"id":"afe0b1f2d88300fe","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":380,"wires":[["449cee82f2a02a06"]]},{"id":"5f3d193b96b4a098","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":440,"wires":[["91c4b19dd8f9e820"]]},{"id":"6e701fafc2a6f7a4","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":500,"wires":[["dfe0392b3b99dcde"]]},{"id":"49e2f4e3693db76c","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam3","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam3_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":320,"wires":[[]]},{"id":"449cee82f2a02a06","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam4","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam4_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":380,"wires":[[]]},{"id":"91c4b19dd8f9e820","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam5","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam5_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":440,"wires":[[]]},{"id":"dfe0392b3b99dcde","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam6","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam6_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":500,"wires":[[]]},{"id":"7ea2de20719dc7cf","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":560,"wires":[["60e75165860ec388"]]},{"id":"60e75165860ec388","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam6","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam7_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":560,"wires":[[]]},{"id":"a63b0255247c5462","type":"link in","z":"8ecde103e664eec0","d":true,"name":"","links":[],"x":295,"y":40,"wires":[["7cd536bbc6ddd750"]]},{"id":"2fde9f8b3c92eaa4","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam7","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":340,"wires":[["7ea2de20719dc7cf"]]},{"id":"c69f4d2263cfc1b3","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam6","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":300,"wires":[["6e701fafc2a6f7a4"]]},{"id":"806d48da56062186","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam5","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":260,"wires":[["5f3d193b96b4a098"]]},{"id":"f976c6cb3c6e4b40","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam4","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":220,"wires":[["afe0b1f2d88300fe"]]},{"id":"99a60e7808d00f8d","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam3","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":180,"wires":[["330c536dbab6ac0d"]]},{"id":"03c6e472be8b4fe5","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam2","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":140,"wires":[["6e38b51bb98fa30d"]]},{"id":"20ffff7a62d57886","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam1","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":100,"wires":[["7cd536bbc6ddd750"]]},{"id":"80dc41578b609278","type":"comment","z":"2709ed20d07ea830","name":"Chatbot Configuration","info":"","x":120,"y":40,"wires":[]},{"id":"a07815afd5edd683","type":"telegram receiver","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","saveDataDir":"/config/www/photos/telegram/","filterCommands":true,"x":110,"y":80,"wires":[["94518195985a2eb0"],[]]},{"id":"d20dc6252e2e9a62","type":"function","z":"2709ed20d07ea830","name":"Save Original Message","func":"msg.telegram_message = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":80,"wires":[["68ef32afc4a49a44"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"68ef32afc4a49a44","type":"switch","z":"2709ed20d07ea830","name":"","property":"payload.chatId","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":80,"wires":[["9fdf55e33f02f3ba"],["ff27df9f8a9a92e0"]]},{"id":"1c41ac86cc152bef","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1330,"y":60,"wires":[[]]},{"id":"9fdf55e33f02f3ba","type":"function","z":"2709ed20d07ea830","name":"Help Information Message","func":"var message =\n  `\n*Hello, i am the Plant Control System Bot*\n\n*Logging information\\\\:*\nI provide monitoring Information in this group like info, warning and error messages\\\\.\n\n*Status updates\\\\:*\nI also do provide a daily status message to let you know that the system is up and running\\\\.\n\nIf you do not receive that message, have a look on the situation on site to check if something went wrong\\\\.\n\n*Control and monitoring interface\\\\:*\nYou can send commands to a private chat with \\\\@protohaus\\\\_ofai\\\\_pcs\\\\_bot\\\\ to receive data and control the system\\\\.\n\nContact the group admins to get access to the private chat functionality\\\\.\n\n`;\n\n///pic pcs\\\\<number\\\\>\\\\_cam\\\\<number\\\\>\\\\: sends a picture of the requested camera (pcs\\\\: 1, cam: 1\\\\-7)\n//  / pic all\\\\: sends all camera pictures\n//  \nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview: true,\n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":60,"wires":[["1c41ac86cc152bef"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"c097e34f3bd5698f","type":"subflow:ab1036a4c01aab80","z":"2709ed20d07ea830","name":"","x":1020,"y":260,"wires":[["fa74b3a9302f1f71"]]},{"id":"3e5b8775a83fa1f5","type":"subflow:48c607f195e854e0","z":"2709ed20d07ea830","x":1020,"y":300,"wires":[["81df7537e0155935"]]},{"id":"61d9cbd837178059","type":"subflow:b23737722e71b01c","z":"2709ed20d07ea830","x":1010,"y":340,"wires":[["aa92c16ac5f4ba51"]]},{"id":"e3106a65c5f9250e","type":"subflow:9e7ca1741a410453","z":"2709ed20d07ea830","x":1020,"y":380,"wires":[["06bb162d7128a209"]]},{"id":"4f5769ad82292928","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":990,"y":920,"wires":[[]]},{"id":"498322567513c93b","type":"function","z":"2709ed20d07ea830","name":"LED Panel max Temperature","func":"var message =\n  `\n*Warning*\nThe max\\\\. temperature somewhere on the led panel is above 35°C since 1 minute\\\\.\n\n`;\n\n///pic pcs\\\\<number\\\\>\\\\_cam\\\\<number\\\\>\\\\: sends a picture of the requested camera (pcs\\\\: 1, cam: 1\\\\-7)\n//  / pic all\\\\: sends all camera pictures\n//  \nmsg.payload = {}\nmsg.payload.type = 'message';\nmsg.payload.content = message;\nmsg.payload.chatId ='-1001698219543'\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview: true,\n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":920,"wires":[["4f5769ad82292928"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"94518195985a2eb0","type":"delay","z":"2709ed20d07ea830","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":270,"y":80,"wires":[["d20dc6252e2e9a62"]]},{"id":"7f63cdc16df19eef","type":"comment","z":"2709ed20d07ea830","name":"Info Channel Configuration","info":"","x":130,"y":560,"wires":[]},{"id":"ff27df9f8a9a92e0","type":"switch","z":"2709ed20d07ea830","name":"Commands","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/help","vt":"str"},{"t":"eq","v":"/heartbeat","vt":"str"},{"t":"cont","v":"/power","vt":"str"},{"t":"cont","v":"/pic","vt":"str"},{"t":"cont","v":"/sensor","vt":"str"},{"t":"cont","v":"/status","vt":"str"},{"t":"cont","v":"/restart","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":810,"y":240,"wires":[["1eae9b738163016b"],["8bba143356d1b955"],["a63a24b48693882d"],["c097e34f3bd5698f"],["3e5b8775a83fa1f5"],["61d9cbd837178059"],["e3106a65c5f9250e"],["6b628bbfdbde2fe7"]]},{"id":"6b628bbfdbde2fe7","type":"function","z":"2709ed20d07ea830","name":"Information Message","func":"var message = \n`\n*Hello, i am the Plant Control System Bot*\n\nPlease send /help for more information on what commands you can use\\\\.\n\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":480,"wires":[["24ee802744cf149b"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"8bba143356d1b955","type":"function","z":"2709ed20d07ea830","name":"Heartbeat Message","func":"var message = \n`\n*I am alive*\n\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":160,"wires":[["b95e9abd59218e41"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"1eae9b738163016b","type":"function","z":"2709ed20d07ea830","name":"Help Message","func":"var message =\n  `\n*Hello, i am the Plant Control System Bot*\n\nYou can interact with me for monitoring and system control\\\\.\n \n*Choose one of the following commands\\\\:*\n/help\n/heartbeat\n/power \\\\- control the main power of the pcs units\n/pic \\\\- get live pictures from the cameras\n/sensor \\\\- get a live overview of the sensor data\n/status \\\\- get a status report of the system\n/restart \\\\- restart devices\n`;\n\n // /control \\\\- access actuators and devices\n // / automations \\\\- turn on / off automations\n // / parameters \\\\- change parameters for the control of the system\n\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview: true,\n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":120,"wires":[["b59501ce84f26a8d"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"b59501ce84f26a8d","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1330,"y":120,"wires":[[]]},{"id":"24ee802744cf149b","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1330,"y":420,"wires":[[]]},{"id":"b95e9abd59218e41","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1330,"y":160,"wires":[[]]},{"id":"fa74b3a9302f1f71","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1330,"y":260,"wires":[[]]},{"id":"81df7537e0155935","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1330,"y":300,"wires":[[]]},{"id":"aa92c16ac5f4ba51","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1330,"y":340,"wires":[[]]},{"id":"06bb162d7128a209","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1330,"y":380,"wires":[[]]},{"id":"740fb05c7ac80888","type":"inject","z":"2709ed20d07ea830","name":"Daily trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":120,"y":620,"wires":[["257a6541255b9730"]]},{"id":"8e0c4cabe1128ec6","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1450,"y":620,"wires":[[]]},{"id":"a63a24b48693882d","type":"subflow:ca65c1dbac21ab41","z":"2709ed20d07ea830","name":"","x":1010,"y":200,"wires":[["5a640f40a5389f9a"]]},{"id":"5a640f40a5389f9a","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1330,"y":200,"wires":[[]]},{"id":"92f6ac9c9ea7c339","type":"template","z":"2709ed20d07ea830","name":"format it","field":"sensor_values","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*__Plant Control System 1 \\- Device Information__*\n\nPCS1 Main Power Supply\\: {{pcs1_main}}\nAtlas Scientific\\: {{pcs1_as_status}}\nCam 1\\: {{pcs1_cam1_status}}\nCam 2\\: {{pcs1_cam2_status}}\nCam 3\\: {{pcs1_cam3_status}}\nCam 4\\: {{pcs1_cam4_status}}\nCam 5\\: {{pcs1_cam5_status}}\nCam 6\\: {{pcs1_cam6_status}}\nCam 7\\: {{pcs1_cam7_status}}\nKinematics\\: {{pcs1_kin_status}}\nLED 1\\: {{pcs1_led1_status}}\nLED 2\\: {{pcs1_led2_status}}\nLED 3\\: {{pcs1_led3_status}}\nLED 4\\: {{pcs1_led4_status}}\nPWM\\: {{pcs1_pwm_status}}\nPump\\: {{pcs1_pump_status}}","output":"str","x":520,"y":1460,"wires":[["f8fa45eb4dc9cecf"]]},{"id":"f8fa45eb4dc9cecf","type":"function","z":"2709ed20d07ea830","name":"function 4","func":"var message = msg.sensor_values;\nmessage = msg.sensor_values.replace(/\\./g, \"\\\\.\");\nmsg.sensor_values = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2220,"y":1540,"wires":[["193f89b4e99dfedf"]]},{"id":"193f89b4e99dfedf","type":"function","z":"2709ed20d07ea830","name":"send message","func":"var message = msg.sensor_values;\nmsg.payload = msg.telegram_message;\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview: true,\n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1540,"wires":[[]]},{"id":"7867f50f842360c8","type":"function","z":"2709ed20d07ea830","name":"send message","func":"var message = msg.sensor_values;\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview: true,\n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":620,"wires":[["8e0c4cabe1128ec6"]]},{"id":"1cabd9b1eed72789","type":"function","z":"2709ed20d07ea830","name":"escapes","func":"var message = msg.sensor_values;\nmessage = msg.sensor_values.replace(/\\./g, \"\\\\.\");\nmsg.sensor_values = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":620,"wires":[["7867f50f842360c8"]]},{"id":"4796e46de4a9befe","type":"template","z":"2709ed20d07ea830","name":"format it","field":"sensor_values","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*Info*\nHome Assistant\\: running\nMain Power Supply\\: {{pcs1_main}} \n","output":"str","x":840,"y":620,"wires":[["1cabd9b1eed72789"]]},{"id":"3bdb78e4bd694aca","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_main","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.pcs1_main","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_main","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":670,"y":620,"wires":[["4796e46de4a9befe"]]},{"id":"257a6541255b9730","type":"function","z":"2709ed20d07ea830","name":"function 6","func":"msg.payload = {}\nmsg.payload.type = 'message';\nmsg.payload.chatId = '-1001698219543'\n// activate markdown\nmsg.payload.options = {\n    disable_web_page_preview: true,\n    parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":620,"wires":[["3bdb78e4bd694aca"]]},{"id":"ac5ad8a6567ca71a","type":"trigger-state","z":"2709ed20d07ea830","name":"pcs1_main on","server":"f482c16b.7b4d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.pcs1_main","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":110,"y":700,"wires":[["257a6541255b9730"],[]]},{"id":"98b06753fe49c796","type":"trigger-state","z":"2709ed20d07ea830","name":"pcs1_main off","server":"f482c16b.7b4d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.pcs1_main","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":110,"y":760,"wires":[["257a6541255b9730"],[]]},{"id":"6a6619a52c966feb","type":"server-state-changed","z":"2709ed20d07ea830","name":"","server":"f482c16b.7b4d","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.pcs1_led_panel_average_max_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"35","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":260,"y":920,"wires":[["498322567513c93b"],[]]},{"id":"62fc75968fd76e31","type":"telegrambot-switch","z":"c7fa6c57.aa19e","name":"Ask What to do","bot":"d73229eefcbd69e2","chatId":"","question":"What you wanna do?","answers":["Help","Sensor","Camera"],"outputs":4,"autoAnswerCallback":true,"verticalAnswers":false,"timeoutValue":"10","timeoutUnits":"s","x":420,"y":360,"wires":[[],[],[],[]]},{"id":"e8c122c222300ac7","type":"telegram command","z":"c7fa6c57.aa19e","d":true,"name":"","command":"/chat_id","description":"","registercommand":false,"language":"","scope":"default","bot":"a526e1d6acb6b7ab","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":150,"y":220,"wires":[["6d66f74cae3b71e9","20c62bae69b974d2"]]},{"id":"6d66f74cae3b71e9","type":"function","z":"c7fa6c57.aa19e","name":"send chat id","func":"var pl = {\n  content: msg.originalMessage.chat.id,\n  title: 'chatID:',\n  type: 'message',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":220,"wires":[["d11b77e05144afd2"]]},{"id":"20c62bae69b974d2","type":"debug","z":"c7fa6c57.aa19e","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":260,"wires":[]},{"id":"d11b77e05144afd2","type":"telegram sender","z":"c7fa6c57.aa19e","d":true,"name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":610,"y":220,"wires":[[]]},{"id":"cee3f857830ed116","type":"inject","z":"c7fa6c57.aa19e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["62fc75968fd76e31"]]},{"id":"4cb9abac678c2912","type":"debug","z":"c7fa6c57.aa19e","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":60,"wires":[]}]