node-red/flows.json
[{"id":"0a84fcef42ddc94e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"8ecde103e664eec0","type":"tab","label":"Cameras","disabled":false,"info":"","env":[]},{"id":"2709ed20d07ea830","type":"tab","label":"Telegram Bot","disabled":false,"info":"","env":[]},{"id":"c7fa6c57.aa19e","type":"tab","label":"Dev","disabled":false,"info":""},{"id":"f482c16b.7b4d","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30"},{"id":"090665a04fa6c385","type":"mqtt-broker","name":"Homeassistant MQTT Broker","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ef067c6f.620e6","type":"server","name":"hass.io","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"62d7bb2f.196044","type":"server","name":"ESP Home","version":2,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":true,"heartbeatInterval":"10"},{"id":"d28c9492.f419c8","type":"server","name":"","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""},{"id":"2dde05e9153f7e26","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7724bf65801a42b3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5fde6ffd3a8708d4","type":"ui_group","name":"Standard","tab":"2dde05e9153f7e26","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"250eeee2.afada2","type":"mqtt-broker","name":"192.168.1.8","broker":"192.168.1.8","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a526e1d6acb6b7ab","type":"telegram bot","botname":"protohaus-ofai-pcs","usernames":"CptPingui","chatids":"-638740272","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"eb4f80de.bd93a","type":"server","name":"Home Assistant"},{"id":"fa7a9376.321ce","type":"telegram bot","z":"2709ed20d07ea830","botname":"my_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"c363ac69f6426299","type":"mqtt in","z":"0a84fcef42ddc94e","name":"","topic":"#","qos":"2","datatype":"auto","broker":"090665a04fa6c385","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":40,"wires":[["b394058093f84240"]]},{"id":"b394058093f84240","type":"debug","z":"0a84fcef42ddc94e","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":40,"wires":[]},{"id":"960397ce4bbc7662","type":"comment","z":"0a84fcef42ddc94e","name":"Send the picture to the AI Server","info":"","x":950,"y":40,"wires":[]},{"id":"cb0d25c7b7b6aece","type":"comment","z":"0a84fcef42ddc94e","name":"save the picture to the server file system","info":"","x":290,"y":100,"wires":[]},{"id":"3b3c3b068dcdc6a0","type":"exec","z":"0a84fcef42ddc94e","d":true,"command":"curl --request POST 'http://192.168.178.201:8001/prediction/' --form 'file=@\"/path/to/image.jpg\"'","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":470,"y":140,"wires":[[],[],[]]},{"id":"64045843ccf3be90","type":"http request","z":"0a84fcef42ddc94e","name":"accounts","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://fabman.io/api/v1/members","tls":"","persist":false,"proxy":"","authType":"bearer","senderr":false,"x":300,"y":440,"wires":[["c78c3ce82bb9f974"]]},{"id":"b0d01a6df724d8e6","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":440,"wires":[["64045843ccf3be90"]]},{"id":"c78c3ce82bb9f974","type":"debug","z":"0a84fcef42ddc94e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":440,"wires":[]},{"id":"aa312f6f1d1f6fa7","type":"tcp out","z":"0a84fcef42ddc94e","name":"Send Signal","host":"192.168.99.12","port":"1234","beserver":"client","base64":false,"end":false,"x":530,"y":560,"wires":[]},{"id":"703676520359d407","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"Message:I\\n\"","payloadType":"str","x":170,"y":560,"wires":[["d8e111d4e3b55ce8"]]},{"id":"554dde7fb94b24c1","type":"debug","z":"0a84fcef42ddc94e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":640,"wires":[]},{"id":"c43eb6d0.a40ec8","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x7B\",\"0x4D\",\"0x43\",\"0x00\",\"0x04\",\"0x1F\",\"0x0a\",\"0x08\",\"0x00\",\"0x0d\",\"0x7D\"]","payloadType":"bin","x":190,"y":620,"wires":[["aa312f6f1d1f6fa7","554dde7fb94b24c1"]]},{"id":"d8e111d4e3b55ce8","type":"function","z":"0a84fcef42ddc94e","name":"","func":"//const str = \"Hey. this is a string!\";\n\n// convert string to Buffer\n//const buff = Buffer.from(msg.payload, \"utf-8\");\nvar b = Buffer.from(msg.payload);\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":560,"wires":[["aa312f6f1d1f6fa7","554dde7fb94b24c1"]]},{"id":"31d2a9ed5c5d5901","type":"mqtt out","z":"0a84fcef42ddc94e","name":"","topic":"test","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"090665a04fa6c385","x":690,"y":40,"wires":[]},{"id":"61481db6918f8409","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"asassa111","payloadType":"str","x":560,"y":40,"wires":[["31d2a9ed5c5d5901"]]},{"id":"ed5bb17c8a805d85","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam1","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam1_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":200,"wires":[[]]},{"id":"a146c8659c3c7477","type":"server-events","z":"8ecde103e664eec0","d":true,"name":"","server":"f482c16b.7b4d","version":1,"event_type":"state_changed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":140,"y":420,"wires":[["980dc6ce4d8d76a1"]]},{"id":"980dc6ce4d8d76a1","type":"switch","z":"8ecde103e664eec0","name":"","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"button.pcs1_cam1_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam2_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam3_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam4_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam5_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam6_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam7_snapshot","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":370,"y":420,"wires":[["7cd536bbc6ddd750"],["6e38b51bb98fa30d"],["330c536dbab6ac0d"],["afe0b1f2d88300fe"],["5f3d193b96b4a098"],["6e701fafc2a6f7a4"],["7ea2de20719dc7cf"]]},{"id":"7cd536bbc6ddd750","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":200,"wires":[["ed5bb17c8a805d85"]]},{"id":"b65d32632abbadb3","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam2","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam2_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":260,"wires":[[]]},{"id":"6e38b51bb98fa30d","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":260,"wires":[["b65d32632abbadb3"]]},{"id":"330c536dbab6ac0d","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":320,"wires":[["49e2f4e3693db76c"]]},{"id":"afe0b1f2d88300fe","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":380,"wires":[["449cee82f2a02a06"]]},{"id":"5f3d193b96b4a098","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":440,"wires":[["91c4b19dd8f9e820"]]},{"id":"6e701fafc2a6f7a4","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":500,"wires":[["dfe0392b3b99dcde"]]},{"id":"49e2f4e3693db76c","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam3","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam3_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":320,"wires":[[]]},{"id":"449cee82f2a02a06","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam4","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam4_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":380,"wires":[[]]},{"id":"91c4b19dd8f9e820","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam5","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam5_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":440,"wires":[[]]},{"id":"dfe0392b3b99dcde","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam6","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam6_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":500,"wires":[[]]},{"id":"7ea2de20719dc7cf","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":560,"wires":[["60e75165860ec388"]]},{"id":"60e75165860ec388","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam6","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam7_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":560,"wires":[[]]},{"id":"a63b0255247c5462","type":"link in","z":"8ecde103e664eec0","d":true,"name":"","links":[],"x":295,"y":40,"wires":[["7cd536bbc6ddd750"]]},{"id":"2fde9f8b3c92eaa4","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam7","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":340,"wires":[["7ea2de20719dc7cf"]]},{"id":"c69f4d2263cfc1b3","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam6","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":300,"wires":[["6e701fafc2a6f7a4"]]},{"id":"806d48da56062186","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam5","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":260,"wires":[["5f3d193b96b4a098"]]},{"id":"f976c6cb3c6e4b40","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam4","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":220,"wires":[["afe0b1f2d88300fe"]]},{"id":"99a60e7808d00f8d","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam3","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":180,"wires":[["330c536dbab6ac0d"]]},{"id":"03c6e472be8b4fe5","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam2","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":140,"wires":[["6e38b51bb98fa30d"]]},{"id":"20ffff7a62d57886","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam1","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":100,"wires":[["7cd536bbc6ddd750"]]},{"id":"fdbea5e0.730e08","type":"http request","z":"2709ed20d07ea830","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"192.168.188.65/picture/1/current/","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"headers":[],"x":670,"y":780,"wires":[["3f7ee72a99f31698"]]},{"id":"25e3021fefb298c5","type":"comment","z":"2709ed20d07ea830","name":"IP Camera Configuration","info":"","x":710,"y":740,"wires":[]},{"id":"a2098170b1d4826f","type":"function","z":"2709ed20d07ea830","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam1`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":400,"wires":[["ddb36f9f5affc483"]]},{"id":"173ab3da1bddfcbd","type":"comment","z":"2709ed20d07ea830","name":"ESP32 Camera Configuration","info":"","x":720,"y":360,"wires":[]},{"id":"43399e15d0db9da5","type":"api-call-service","z":"2709ed20d07ea830","name":"Snapshot pcs1.cam1","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam1_camera","data":"{\"filename\":\"/config/www/pcs1_cam1.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":400,"wires":[["b1ef6fc950ef5462"]]},{"id":"b1ef6fc950ef5462","type":"file in","z":"2709ed20d07ea830","name":"load image","filename":"/config/www/pcs1_cam1.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":890,"y":400,"wires":[["a2098170b1d4826f"]]},{"id":"1b2a050c6aeb59a3","type":"switch","z":"2709ed20d07ea830","name":"Choose Cam","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/pic pcs1_cam1","vt":"str"},{"t":"eq","v":"/pic pcs1_cam2","vt":"str"},{"t":"eq","v":"/pic pcs1_cam3","vt":"str"},{"t":"eq","v":"/pic pcs1_cam4","vt":"str"},{"t":"eq","v":"/pic pcs1_cam5","vt":"str"},{"t":"eq","v":"/pic pcs1_cam6","vt":"str"},{"t":"eq","v":"/pic pcs1_cam7","vt":"str"},{"t":"eq","v":"/pic pcs1_cam8","vt":"str"},{"t":"eq","v":"/pic pcs1_all","vt":"str"},{"t":"eq","v":"/pic all","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":11,"x":390,"y":560,"wires":[["43399e15d0db9da5"],["08260b977be2b610"],["11110b9b342bbb1f"],["1330d7d89ea87472"],["f84afacb92a942cc"],["479df0f5d416a6f1"],["7d6aba86bc174503"],["fdbea5e0.730e08"],["7d6aba86bc174503","479df0f5d416a6f1","f84afacb92a942cc","1330d7d89ea87472","11110b9b342bbb1f","08260b977be2b610","43399e15d0db9da5","fdbea5e0.730e08"],["43399e15d0db9da5","08260b977be2b610","11110b9b342bbb1f","1330d7d89ea87472","f84afacb92a942cc","479df0f5d416a6f1","7d6aba86bc174503","fdbea5e0.730e08"],["339e9f949a87e978"]]},{"id":"08260b977be2b610","type":"api-call-service","z":"2709ed20d07ea830","name":"Snapshot pcs1.cam2","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam2_camera","data":"{\"filename\":\"/config/www/pcs1_cam2.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":440,"wires":[["0f074779063b0565"]]},{"id":"0f074779063b0565","type":"file in","z":"2709ed20d07ea830","name":"load image","filename":"/config/www/pcs1_cam2.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":890,"y":440,"wires":[["f98ff7bd174079fc"]]},{"id":"11110b9b342bbb1f","type":"api-call-service","z":"2709ed20d07ea830","name":"Snapshot pcs1.cam3","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam3_camera","data":"{\"filename\":\"/config/www/pcs1_cam3.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":480,"wires":[["d6286627733658d0"]]},{"id":"d6286627733658d0","type":"file in","z":"2709ed20d07ea830","name":"load image","filename":"/config/www/pcs1_cam3.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":890,"y":480,"wires":[["2e52f87077047aa1"]]},{"id":"1330d7d89ea87472","type":"api-call-service","z":"2709ed20d07ea830","name":"Snapshot pcs1.cam4","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam4_camera","data":"{\"filename\":\"/config/www/pcs1_cam4.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":520,"wires":[["9b3fa02b9dd46aca"]]},{"id":"9b3fa02b9dd46aca","type":"file in","z":"2709ed20d07ea830","name":"load image","filename":"/config/www/pcs1_cam4.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":890,"y":520,"wires":[["bab8f70489938717"]]},{"id":"f84afacb92a942cc","type":"api-call-service","z":"2709ed20d07ea830","name":"Snapshot pcs1.cam5","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam5_camera","data":"{\"filename\":\"/config/www/pcs1_cam5.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":560,"wires":[["14327525df6f7489"]]},{"id":"14327525df6f7489","type":"file in","z":"2709ed20d07ea830","name":"load image","filename":"/config/www/pcs1_cam5.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":890,"y":560,"wires":[["399aec1c9bc888a5"]]},{"id":"479df0f5d416a6f1","type":"api-call-service","z":"2709ed20d07ea830","name":"Snapshot pcs1.cam6","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam6_camera","data":"{\"filename\":\"/config/www/pcs1_cam6.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":600,"wires":[["1a8d6b101365b544"]]},{"id":"1a8d6b101365b544","type":"file in","z":"2709ed20d07ea830","name":"load image","filename":"/config/www/pcs1_cam6.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":890,"y":600,"wires":[["3d50fa9f3089425e"]]},{"id":"7d6aba86bc174503","type":"api-call-service","z":"2709ed20d07ea830","name":"Snapshot pcs1.cam7","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam7_camera","data":"{\"filename\":\"/config/www/pcs1_cam7.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":640,"wires":[["4f37124a1bb6b24d"]]},{"id":"4f37124a1bb6b24d","type":"file in","z":"2709ed20d07ea830","name":"load image","filename":"/config/www/pcs1_cam7.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":890,"y":640,"wires":[["9cd59682cb6e706a"]]},{"id":"339e9f949a87e978","type":"function","z":"2709ed20d07ea830","name":"help Message","func":"var message = \n`\n*You requested an unknown camera* 🤔\n\nPlease use one of the following commands\\\\:\n\n\\`/pic pcs1\\_cam1\\`\n\\`/pic pcs1\\_cam2\\`\n\\`/pic pcs1\\_cam3\\`\n\\`/pic pcs1\\_cam4\\`\n\\`/pic pcs1\\_cam5\\`\n\\`/pic pcs1\\_cam6\\`\n\\`/pic pcs1\\_cam7\\`\n\\`/pic pcs1\\_cam8\\`\n\\`/pic pcs1\\_all\\`\n\\`/pic all\\`\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":840,"wires":[["13ea9f3e6bcb23fd"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"f98ff7bd174079fc","type":"function","z":"2709ed20d07ea830","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam2`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":440,"wires":[["dc48e85208a31250"]]},{"id":"2e52f87077047aa1","type":"function","z":"2709ed20d07ea830","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam3`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":480,"wires":[["f19cd8b193551e49"]]},{"id":"bab8f70489938717","type":"function","z":"2709ed20d07ea830","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam4`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":520,"wires":[["3d7d38dd65ae756a"]]},{"id":"399aec1c9bc888a5","type":"function","z":"2709ed20d07ea830","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam5`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":560,"wires":[["0eaf602c7578a98b"]]},{"id":"3d50fa9f3089425e","type":"function","z":"2709ed20d07ea830","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam6`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":600,"wires":[["baded2bab62e487d"]]},{"id":"9cd59682cb6e706a","type":"function","z":"2709ed20d07ea830","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam7`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":640,"wires":[["4f4709058754a512"]]},{"id":"80dc41578b609278","type":"comment","z":"2709ed20d07ea830","name":"General Configuration","info":"","x":160,"y":20,"wires":[]},{"id":"7ac6a69e75a59c9f","type":"function","z":"2709ed20d07ea830","name":"Help Information Message","func":"var message =\n  `\n*Hello, i am the Plant Control System Bot*🌱\n\n\nYou can send following commands:\n\n/heartbeat\n/help \n/pic\n/sensor\n/status\n/restart\n\n`;\n\n///pic pcs\\\\<number\\\\>\\\\_cam\\\\<number\\\\>\\\\: sends a picture of the requested camera (pcs\\\\: 1, cam: 1\\\\-7)\n//  / pic all\\\\: sends all camera pictures\n//  \nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview: true,\n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":140,"wires":[["c22e7b62d699b0e5"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"a07815afd5edd683","type":"telegram receiver","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","saveDataDir":"/config/www/photos/telegram/","filterCommands":true,"x":130,"y":140,"wires":[["d20dc6252e2e9a62"],[]]},{"id":"ce35288d64750f4b","type":"switch","z":"2709ed20d07ea830","name":"All Commands","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/help","vt":"str"},{"t":"eq","v":"/heartbeat","vt":"str"},{"t":"cont","v":"/pic","vt":"str"},{"t":"cont","v":"/sensor","vt":"str"},{"t":"cont","v":"/status","vt":"str"},{"t":"cont","v":"/restart","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":400,"y":200,"wires":[["7ac6a69e75a59c9f"],["f860ea4362e096e0"],["1b2a050c6aeb59a3"],["018890c568724ccb"],["a9e777dce64c87a5"],["4611608905aa7003"],["c319aedb08cc3e77"]]},{"id":"c319aedb08cc3e77","type":"function","z":"2709ed20d07ea830","name":"Information Message","func":"var message = \n`\n*Hello, i am the Plant Control System Bot*🌱\n\nPlease send /help for more information on what commands you can use😊\n\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":220,"wires":[["d61fc4c9902f0620"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"c22e7b62d699b0e5","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":950,"y":140,"wires":[[]]},{"id":"3f7ee72a99f31698","type":"function","z":"2709ed20d07ea830","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  caption: `Picture: pcs1_cam8`,\n  type: 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id: msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":780,"wires":[["46dc2d0ca6484ae6"]]},{"id":"e54430beff4463fb","type":"comment","z":"2709ed20d07ea830","name":"Camera Configuration","info":"","x":160,"y":360,"wires":[]},{"id":"f860ea4362e096e0","type":"function","z":"2709ed20d07ea830","name":"Heartbeat Message","func":"var message = \n`\n*I am alive*\n\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":180,"wires":[["887dc737a56bf92c"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"d61fc4c9902f0620","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":950,"y":220,"wires":[[]]},{"id":"887dc737a56bf92c","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":950,"y":180,"wires":[[]]},{"id":"ddb36f9f5affc483","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1290,"y":400,"wires":[[]]},{"id":"dc48e85208a31250","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1290,"y":440,"wires":[[]]},{"id":"f19cd8b193551e49","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1290,"y":480,"wires":[[]]},{"id":"3d7d38dd65ae756a","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1290,"y":520,"wires":[[]]},{"id":"0eaf602c7578a98b","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1290,"y":560,"wires":[[]]},{"id":"baded2bab62e487d","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1290,"y":600,"wires":[[]]},{"id":"4f4709058754a512","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1290,"y":640,"wires":[[]]},{"id":"13ea9f3e6bcb23fd","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1290,"y":840,"wires":[[]]},{"id":"46dc2d0ca6484ae6","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1290,"y":780,"wires":[[]]},{"id":"a9d35b21f14734cc","type":"comment","z":"2709ed20d07ea830","name":"Sensor Data Configuration","info":"","x":190,"y":1000,"wires":[]},{"id":"3de2061006ed4f14","type":"function","z":"2709ed20d07ea830","name":"send message","func":"var message = msg.sensor_values;\nmsg.payload = msg.telegram_message;\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview: true,\n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":1940,"wires":[["1020c8ee7dbf36d6"]]},{"id":"1020c8ee7dbf36d6","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1290,"y":1880,"wires":[[]]},{"id":"9646d923.432558","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_growth_chamber_average_humidity","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_growth_chamber_average_humidity","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_growth_chamber_average_humidity","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":900,"y":1680,"wires":[["d92bf2f0.d578"]]},{"id":"d92bf2f0.d578","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_growth_chamber_average_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_growth_chamber_average_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_growth_chamber_average_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":910,"y":1740,"wires":[["ec9f0147.f77b2"]]},{"id":"ec9f0147.f77b2","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_growth_chamber_average_illuminance","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_growth_chamber_average_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_growth_chamber_average_illuminance","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":910,"y":1800,"wires":[["cf2310f2b0f381a8"]]},{"id":"67634f6c.20eb7","type":"template","z":"2709ed20d07ea830","name":"format it","field":"sensor_values","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*__Plant Control System 1 \\- Sensor Data__*\n\n*Outside*\nTemperature\\: {{pcs1_outside_average_temperature}} °C\n\n*Electronics Chamber*\nTemperature\\: {{pcs1_pwm_dallas_1_temperature}} °C\nTemperature Power Adapter\\: {{pcs1_pwm_dallas_24_36v_case_temperature}} °C\nTemperature Kinematics Controller\\: {{pcs1_kin_dallas_4_temperature}} °C\n\n*LED Panel*\nTemperature 40mm Fans\\: {{pcs1_led_panel_fan_140mm_average_temperature}} °C\nTemperature 80mm Fans\\: {{pcs1_led_panel_fan_80mm_average_temperature}} °C\nTemperature average\\: {{pcs1_led_panel_average_temperature}} °C\nTemperature max\\: {{pcs1_led_panel_average_max_temperature}} °C\n\n*Growth Chamber*\nTemperature\\: {{pcs1_growth_chamber_average_humidity}} °C\nHumidity\\: {{pcs1_growth_chamber_average_temperature}} \\%\nIlluminance\\: {{pcs1_growth_chamber_average_illuminance}} lx\nIlluminance max\\: {{pcs1_growth_chamber_average_max_illuminance}} lx\n\n*Water tank*\nTemperature\\: {{pcs1_as_rtd}} °C\nPH\\-Value\\: {{pcs1_as_ph}}\nConductivity\\: {{pcs1_as_ec}} μS\\/cm","output":"str","x":1260,"y":2060,"wires":[["cb25d7b6dbc922e1"]]},{"id":"cb25d7b6dbc922e1","type":"function","z":"2709ed20d07ea830","name":"function 1","func":"var message = msg.sensor_values;\nmessage = msg.sensor_values.replace(/\\./g, \"\\\\.\");\nmsg.sensor_values = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":2000,"wires":[["3de2061006ed4f14"]]},{"id":"cf2310f2b0f381a8","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_growth_chamber_average_max_illuminance","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_growth_chamber_average_max_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_growth_chamber_average_max_illuminance","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":930,"y":1860,"wires":[["6057264122077205"]]},{"id":"7122fd1877cce70f","type":"comment","z":"2709ed20d07ea830","name":"Outside","info":"","x":790,"y":1120,"wires":[]},{"id":"aa0f51068fc28f49","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_outside_average_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_outside_average_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_outside_average_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":890,"y":1160,"wires":[["399220f5203c7980"]]},{"id":"d7faf1aad28a5a28","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_led_panel_fan_140mm_average_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led_panel_fan_140mm_average_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led_panel_fan_140mm_average_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":930,"y":1440,"wires":[["255793e369b1496b"]]},{"id":"255793e369b1496b","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_led_panel_fan_80mm_average_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led_panel_fan_80mm_average_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led_panel_fan_80mm_average_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":930,"y":1480,"wires":[["3496d20f98c41ee1"]]},{"id":"3496d20f98c41ee1","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_led_panel_average_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led_panel_average_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led_panel_average_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":890,"y":1520,"wires":[["24c7e77758c470cc"]]},{"id":"24c7e77758c470cc","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_led_panel_average_max_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_led_panel_average_max_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led_panel_average_max_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":910,"y":1560,"wires":[["9646d923.432558"]]},{"id":"84e59437bcbfc08b","type":"comment","z":"2709ed20d07ea830","name":"Electronics Chamber","info":"","x":830,"y":1220,"wires":[]},{"id":"b56ee3cce268f94d","type":"comment","z":"2709ed20d07ea830","name":"LED Panel","info":"","x":800,"y":1400,"wires":[]},{"id":"399220f5203c7980","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_pwm_dallas_1_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_pwm_dallas_1_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pwm_dallas_1_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":880,"y":1260,"wires":[["26b148d692a72133"]]},{"id":"26b148d692a72133","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_pwm_dallas_24_36v_case_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_pwm_dallas_24_36v_case_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pwm_dallas_24_36v_case_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":920,"y":1300,"wires":[["5bf6b1d4e81ad3a8"]]},{"id":"5bf6b1d4e81ad3a8","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_kin_dallas_4_temperature","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_kin_dallas_4_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_dallas_4_temperature","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":870,"y":1340,"wires":[["d7faf1aad28a5a28"]]},{"id":"a0c7954da404e8c3","type":"comment","z":"2709ed20d07ea830","name":"Growth Chamber","info":"","x":820,"y":1640,"wires":[]},{"id":"c471f0888cca8c0e","type":"comment","z":"2709ed20d07ea830","name":"Sensor Data","info":"","x":810,"y":1080,"wires":[]},{"id":"5c05af0a8a4570f0","type":"comment","z":"2709ed20d07ea830","name":"Water Tank","info":"","x":810,"y":1940,"wires":[]},{"id":"6057264122077205","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_as_ec","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_as_ec","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_as_ec","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":810,"y":1980,"wires":[["975782d5a74649db"]]},{"id":"975782d5a74649db","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_as_rtd","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_as_rtd","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_as_rtd","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":810,"y":2020,"wires":[["05ff8c81ee0f47ac"]]},{"id":"05ff8c81ee0f47ac","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_as_ph","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pcs1_as_ph","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_as_ph","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":810,"y":2060,"wires":[["67634f6c.20eb7"]]},{"id":"018890c568724ccb","type":"switch","z":"2709ed20d07ea830","name":"Choose pcs","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/sensor pcs1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1080,"wires":[["aa0f51068fc28f49"],["d191939ade03b663"]]},{"id":"d191939ade03b663","type":"function","z":"2709ed20d07ea830","name":"help Message","func":"var message = \n`\n*You requested an unknown pcs* 🤔\n\nPlease use one of the following commands\\\\:\n\n\\`/sensor pcs1\\`\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1020,"wires":[["7b45bdb023bd5b2d"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"7b45bdb023bd5b2d","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":870,"y":1020,"wires":[[]]},{"id":"72a8df5fb02f3ea0","type":"comment","z":"2709ed20d07ea830","name":"Status Configuration","info":"","x":150,"y":2180,"wires":[]},{"id":"a9e777dce64c87a5","type":"switch","z":"2709ed20d07ea830","name":"Choose pcs","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/status pcs1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":2220,"wires":[["f8c87ef3aa821af7"],["90528bb2680bc05c"]]},{"id":"90528bb2680bc05c","type":"function","z":"2709ed20d07ea830","name":"help Message","func":"var message = \n`\n*You requested an unknown pcs* 🤔\n\nPlease use one of the following commands\\\\:\n\n\\`/status pcs1\\`\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":2180,"wires":[["ebccb264d0d7c651"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"ebccb264d0d7c651","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":870,"y":2180,"wires":[[]]},{"id":"f8c87ef3aa821af7","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_as_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_as_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_as_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":700,"y":2300,"wires":[["7afd7503bf8ca145"]]},{"id":"e5275f00efd0cfaf","type":"function","z":"2709ed20d07ea830","name":"send message","func":"var message = msg.sensor_values;\nmsg.payload = msg.telegram_message;\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview: true,\n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":3020,"wires":[["c8bf777c52c91567"]]},{"id":"c8bf777c52c91567","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1010,"y":2960,"wires":[[]]},{"id":"881a86438872492c","type":"template","z":"2709ed20d07ea830","name":"format it","field":"sensor_values","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"*__Plant Control System 1 \\- Status__*\n\nAtlas Scientific\\: {{pcs1_as_status}}\nCam 1\\: {{pcs1_cam1_status}}\nCam 2\\: {{pcs1_cam2_status}}\nCam 3\\: {{pcs1_cam3_status}}\nCam 4\\: {{pcs1_cam4_status}}\nCam 5\\: {{pcs1_cam5_status}}\nCam 6\\: {{pcs1_cam6_status}}\nCam 7\\: {{pcs1_cam7_status}}\nKinematics\\: {{pcs1_kin_status}}\nLED 1\\: {{pcs1_led1_status}}\nLED 2\\: {{pcs1_led2_status}}\nLED 3\\: {{pcs1_led3_status}}\nLED 4\\: {{pcs1_led4_status}}\nPWM\\: {{pcs1_pwm_status}}\nPump\\: {{pcs1_pump_status}}","output":"str","x":980,"y":3140,"wires":[["152a4222d2bce967"]]},{"id":"152a4222d2bce967","type":"function","z":"2709ed20d07ea830","name":"function 3","func":"var message = msg.sensor_values;\nmessage = msg.sensor_values.replace(/\\./g, \"\\\\.\");\nmsg.sensor_values = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":3080,"wires":[["e5275f00efd0cfaf"]]},{"id":"d20dc6252e2e9a62","type":"function","z":"2709ed20d07ea830","name":"Save Original Message","func":"msg.telegram_message = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":200,"wires":[["ce35288d64750f4b"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"b74175a2fa057431","type":"comment","z":"2709ed20d07ea830","name":"ESP32 Controller Status","info":"","x":710,"y":2240,"wires":[]},{"id":"7afd7503bf8ca145","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_cam1_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam1_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam1_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":710,"y":2360,"wires":[["e045093fefc93dca"]]},{"id":"e045093fefc93dca","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_cam2_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam2_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam2_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":710,"y":2420,"wires":[["7c01163c6a83e849"]]},{"id":"7c01163c6a83e849","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_cam3_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam3_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam3_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":710,"y":2480,"wires":[["a00ad433ee1ea283"]]},{"id":"a00ad433ee1ea283","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_cam4_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam4_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam4_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":710,"y":2540,"wires":[["0a5d0c5da909c688"]]},{"id":"0a5d0c5da909c688","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_cam5_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam5_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam5_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":710,"y":2600,"wires":[["c8702b07db1d3c3e"]]},{"id":"c8702b07db1d3c3e","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_cam6_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam6_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam6_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":710,"y":2660,"wires":[["2b36ea13537740e5"]]},{"id":"2b36ea13537740e5","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_cam7_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_cam7_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_cam7_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":710,"y":2720,"wires":[["b77f22f93f10cb1e"]]},{"id":"b77f22f93f10cb1e","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_kin_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_kin_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_kin_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":700,"y":2780,"wires":[["b22beb6f05c3a661"]]},{"id":"b22beb6f05c3a661","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_led1_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_led1_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led1_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":710,"y":2840,"wires":[["44ddf8c700f40ee8"]]},{"id":"44ddf8c700f40ee8","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_led2_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_led2_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led2_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":710,"y":2900,"wires":[["14aec7576e8539c0"]]},{"id":"14aec7576e8539c0","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_led3_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_led3_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led3_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":710,"y":2960,"wires":[["9c230bbff29ce4ea"]]},{"id":"9c230bbff29ce4ea","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_led4_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_led4_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_led4_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":710,"y":3020,"wires":[["5d0afa210f0be3f0"]]},{"id":"5d0afa210f0be3f0","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_pwm_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_pwm_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pwm_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":710,"y":3080,"wires":[["4ef2e39e2cd33dc6"]]},{"id":"4ef2e39e2cd33dc6","type":"api-current-state","z":"2709ed20d07ea830","name":"pcs1_pump_status","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pcs1_pump_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pcs1_pump_status","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":710,"y":3140,"wires":[["881a86438872492c"]]},{"id":"4611608905aa7003","type":"switch","z":"2709ed20d07ea830","name":"Choose Cam","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/restart pcs1_as","vt":"str"},{"t":"eq","v":"/restart pcs1_cam1","vt":"str"},{"t":"eq","v":"/restart pcs1_cam2","vt":"str"},{"t":"eq","v":"/restart pcs1_cam3","vt":"str"},{"t":"eq","v":"/restart pcs1_cam4","vt":"str"},{"t":"eq","v":"/restart pcs1_cam5","vt":"str"},{"t":"eq","v":"/restart pcs1_cam6","vt":"str"},{"t":"eq","v":"/restart pcs1_cam7","vt":"str"},{"t":"eq","v":"/restart pcs1_kin","vt":"str"},{"t":"eq","v":"/restart pcs1_led1","vt":"str"},{"t":"eq","v":"/restart pcs1_led2","vt":"str"},{"t":"eq","v":"/restart pcs1_led3","vt":"str"},{"t":"eq","v":"/restart pcs1_led4","vt":"str"},{"t":"eq","v":"/restart pcs1_pwm","vt":"str"},{"t":"eq","v":"/restart pcs1_pump","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":16,"x":270,"y":3340,"wires":[["63198af7d6e9f922"],["5d1428569352a6a2"],["8cedf61717a61053"],["ceb33822dab89e99"],["d839b769a5aed58b"],["46032d37bce9325e"],["2d5f7be417f45550"],["66564d475fa51178"],["d69ee6732612dba9"],["83f4f5769bdda618"],["8a7fdda2df849baf"],["be0ec3d81bd6fd5c"],["5ed0d6831505bf67"],["41423d8bd0a419e7"],["eb6c6024d3ae47bc"],["a0b78b93d8cee4bb"]]},{"id":"fa077b5ba0aa76da","type":"comment","z":"2709ed20d07ea830","name":"Reboot","info":"","x":110,"y":3160,"wires":[]},{"id":"5d1428569352a6a2","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_cam1_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam1_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":3300,"wires":[["9870875b85e30781"]]},{"id":"8cedf61717a61053","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_cam2_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam2_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":3360,"wires":[["9870875b85e30781"]]},{"id":"ceb33822dab89e99","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_cam3_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam3_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":3420,"wires":[["9870875b85e30781"]]},{"id":"d839b769a5aed58b","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_cam4_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam4_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":3480,"wires":[["9870875b85e30781"]]},{"id":"46032d37bce9325e","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_cam5_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam5_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":3540,"wires":[["9870875b85e30781"]]},{"id":"2d5f7be417f45550","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_cam6_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam6_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":3600,"wires":[["9870875b85e30781"]]},{"id":"66564d475fa51178","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_cam7_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_cam7_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":3660,"wires":[["9870875b85e30781"]]},{"id":"a0b78b93d8cee4bb","type":"function","z":"2709ed20d07ea830","name":"help Message","func":"var message = \n`\n*You requested an unknown pcs* 🤔\n\nPlease use one of the following commands\\\\:\n\n\\`/restart pcs1_as\\`\n\\`/restart pcs1_cam1\\`\n\\`/restart pcs1_cam2\\`\n\\`/restart pcs1_cam3\\`\n\\`/restart pcs1_cam4\\`\n\\`/restart pcs1_cam5\\`\n\\`/restart pcs1_cam6\\`\n\\`/restart pcs1_cam7\\`\n\\`/restart pcs1_kin\\`\n\\`/restart pcs1_led1\\`\n\\`/restart pcs1_led2\\`\n\\`/restart pcs1_led3\\`\n\\`/restart pcs1_led4\\`\n\\`/restart pcs1_pwm\\`\n\\`/restart pcs1_pump\\`\n`;\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":3200,"wires":[["05747dc12f8990e6"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"05747dc12f8990e6","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":790,"y":3200,"wires":[[]]},{"id":"63198af7d6e9f922","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_as_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_as_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":3240,"wires":[["9870875b85e30781"]]},{"id":"d69ee6732612dba9","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_kin_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_kin_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":3720,"wires":[["9870875b85e30781"]]},{"id":"83f4f5769bdda618","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_led1_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_led1_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":3780,"wires":[["9870875b85e30781"]]},{"id":"8a7fdda2df849baf","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_led2_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_led2_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":3840,"wires":[["9870875b85e30781"]]},{"id":"be0ec3d81bd6fd5c","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_led3_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_led3_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":3900,"wires":[["9870875b85e30781"]]},{"id":"5ed0d6831505bf67","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_led4_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_led4_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":3960,"wires":[["9870875b85e30781"]]},{"id":"eb6c6024d3ae47bc","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_pump_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_pump_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":4080,"wires":[["9870875b85e30781"]]},{"id":"41423d8bd0a419e7","type":"api-call-service","z":"2709ed20d07ea830","name":"pcs1_pwm_restart","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"button","service":"press","entityId":"button.pcs1_pwm_restart","data":"on","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":4020,"wires":[["9870875b85e30781"]]},{"id":"9870875b85e30781","type":"function","z":"2709ed20d07ea830","name":"help Message","func":"var message = \n`\nRestarting node\n`;\n\nmsg.payload = msg.telegram_message;\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview : true, \n  parse_mode : \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":3300,"wires":[["a2708a0feb3801dd"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"a2708a0feb3801dd","type":"telegram sender","z":"2709ed20d07ea830","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":1270,"y":3300,"wires":[[]]},{"id":"da5bca72.a8ae88","type":"inject","z":"c7fa6c57.aa19e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":480,"wires":[["2a35b1b510ccac1b"]]},{"id":"736b0172.0c043","type":"function","z":"c7fa6c57.aa19e","name":"prep msg","func":"msg.filename = '/config/www/snapshots/snap.jpg';\nmsg.payload = { \n data: {\n type: 'photo',\n file: '/config/www/snap.jpg',\n chatId: '-542424157',\n caption: 'Snapshot from camera.' }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":480,"wires":[["bfcaabb3.6fca68","1b7063f9.8a2adc","6e63d3dd8617a7e1"]]},{"id":"83cb3705.7adc08","type":"api-call-service","z":"c7fa6c57.aa19e","name":"","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam1_camera","data":"{\"filename\":\"/config/www/snap.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":520,"wires":[[]]},{"id":"bfcaabb3.6fca68","type":"api-call-service","z":"c7fa6c57.aa19e","name":"","server":"eb4f80de.bd93a","version":3,"service_domain":"telegram_bot","service":"send_photo","data":"","mergecontext":"","outputProperties":[],"queue":"none","x":970,"y":480,"wires":[[]]},{"id":"1b7063f9.8a2adc","type":"debug","z":"c7fa6c57.aa19e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":420,"wires":[]},{"id":"6e63d3dd8617a7e1","type":"telegram sender","z":"c7fa6c57.aa19e","name":"","bot":"a526e1d6acb6b7ab","haserroroutput":false,"outputs":1,"x":850,"y":340,"wires":[[]]},{"id":"2a35b1b510ccac1b","type":"api-call-service","z":"c7fa6c57.aa19e","name":"Snapshot Cam1","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam1_camera","data":"{\"filename\":\"/config/www/snap.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":420,"y":420,"wires":[["736b0172.0c043"]]}]